[2020-06-16 09:20] samratarmas opened #10 "Blank screen on serve"
Hello Dominik,
Really appreciate your work on this project. I encountered the following error when serving using nx serve: `GET http://localhost:3333/build/client-app.esm.js net::ERR_ABORTED 404 (Not Found)`

When checking the dist folder I can see that the file name is always built as `app.esm.js` by stencil, and hence the file `client-app.esm.js` will not be found.

`client-app` is an arbitrary

[2020-06-16 09:24] samratarmas commented on #10
Things work great when the nx app name is just `app` because it will then match the `app.esm.js` script.

[2020-06-17 05:31] DominikPieper commented on #10
Hello Samrat,
thanks for reporting. There was a wrong url generation.
The next release will fix it. :-)

Best regards,
Dominik

[2020-06-17 05:31] #10 closed

[2020-06-23 08:49] DominikPieper opened #23 "Use libsDir/appsDir to be useable with nx new layout capabilities"

[2020-06-23 08:49] #23 closed

[2020-06-23 15:23] luchsamapparat opened #24 "gitignore for www directory or build to dist"
When starting the app via `nx serve`, stencil compiles the app to `/apps/my-app/www`. It would be great if the workspace is

a) either configured to put those build files into `/dist`
b) or adds a `.gitignore` file to ignore the `www` directory

I'm not sure if the Stencil API allows a).

*Steps for Reproduction*

[code]

Thanks a lot, btw, for creating this project!

[2020-06-24 06:22] DominikPieper commented on #24
Hey,
the `www` is something the stencil compiler does by default. You can try to configure the output target in your `stencil.config.ts. That's nothing I'm doing and I'd like to stick with the default/stencil configuration here.

[2020-07-02 12:26] DominikPieper commented on #24
With actual versions the builder target is in `dist`. Is this okay and serves your needs?
I think I misunderstood something last comment I did

[2020-07-02 19:10] luchsamapparat commented on #24
Hi,

sorry, that I didn't respond to your last post yet. I put my Stencil project aside to work on other things.

I'm not sure what you mean by "actual versions"?

When following the steps of my origin post, after running the app for the first time, you end up with 44 untracked files in your repository:

![image](https://user-images.githubusercontent.com/875017/86400042-38b2f000-bca8-11ea-8b79-238

[2020-07-02 19:57] DominikPieper commented on #24
What version are you using? My confusion comes from, the build process builds per default into `dist/apps/<appname>` since a few versions.

[code]

[code]

[2020-07-04 07:16] luchsamapparat commented on #24
🤔 Weird, running the same command (`nx run my-app:build`), a `dist/apps/my-app` directory is created, however it is empty. In addition, `apps/my-app/www` is also created and it contains all the files as in your example.

Here's the repository I used for my test:
https://github.com/luchsamapparat/nx-workspace-stencil

[code]

[2020-07-04 10:24] DominikPieper commented on #24
Is the repo public? I can't reach it

[2020-07-04 10:42] luchsamapparat commented on #24
Sorry, I accidentally made it private. Should be accessible now

[2020-07-06 03:44] DominikPieper commented on #24
Hey, I tried your repo and can't reproduce the issue. Works as expected building into dist. WHat OS do you use? Windows? Mac? Linux? Mayve a platform problem

[2020-07-06 17:07] DominikPieper opened #35 "Version 1.16 of stencil don't work, all build steps end with "unexpected export""

[2020-07-06 18:15] DominikPieper commented on #24
There's a new release. I hope it works for you :-)

[2020-07-06 18:56] luchsamapparat commented on #24
The latest release of `@nxext/stencil` indeed fixes the issue 🥳

[2020-07-06 18:56] #24 closed

[2020-07-09 11:41] guisperandio opened #40 "Jest unit test doesn't find spec.tsx files"
After setting up the stenciljs plugin I tried to run the test using `nx test my-lib` but the result was that:

![image](https://user-images.githubusercontent.com/29610284/87035624-81573580-c1e1-11ea-8887-0ca014c1544d.png)

[2020-07-09 18:42] DominikPieper commented on #40
Hi, could you try out version 1.0.1? It should fix it

[2020-07-09 18:53] guisperandio commented on #40
It worked perfectly. Thanks @DominikPieper :)

[2020-07-09 18:53] #40 closed

[2020-07-11 12:39] Rick313 opened #43 "Stencil 1.16.2 - Job Output failed to validate."
[Nx Workspace]
- @nrwl/**: 9.5.1
- typescript: 3.9.6

[Screenshot]
![Capture](https://user-images.githubusercontent.com/29020561/87224237-efd3f900-c383-11ea-8217-32e33c624ba8.PNG)

[2020-07-13 06:19] DominikPieper commented on #43
Hi, the error is known. The plugin don't work with 1.16 up, see #35
The stencil compiler api changed and I talk already to Adam what need to be re-added

[2020-07-16 17:13] DominikPieper opened #46 "Add capacitor app with @nxtend/capacitor"

[2020-07-16 17:14] DominikPieper opened #47 "Add vue as possible outputtarget"
After @nx-plus/vue added a library schematic

[2020-07-16 19:15] #43 closed

[2020-07-16 19:15] #35 closed

[2020-07-16 20:31] DominikPieper commented on #43
There's Version 1.1.0 which uses 1.16.3

[2020-07-22 05:15] rewathkafley opened #50 "Not able to run the project"
This error pops up when i run the project:
![image](https://user-images.githubusercontent.com/9987781/88137058-8cac5700-cc0c-11ea-8cdc-f6f15f934bfd.png)

[2020-07-22 19:12] DominikPieper commented on #50
Which version of the plugin and which stencil version did you use?

[2020-07-27 09:52] rewathkafley commented on #50
Hi @DominikPieper  I am using the following version of stencil and plugin

 **"@nxext/stencil": "^1.1.0",
"@stencil/core": "1.16.3"**

[2020-07-27 09:55] DominikPieper commented on #50
Okay, one question that came up. Nx 10? Until now there's no nx 10 support

[2020-07-28 23:55] hnipps opened #52 "`UNRESOLVED_IMPORT` warning when importing libs from the same Nx workspace"
I have a Nx workspace with 1 app and 6 libs (4 of which were generated using `@nxext/stencil`):
* MyApp
* MainLib (stencil)
* LibA (stencil)
* LibB (stencil)
* LibC (stencil)
* Utils
* Types

MainLib is dependent on LibA and LibB.

When building MainLib I get this error for both LibA and LibB:
[code]

There are no inline errors in `component-map.ts` and my `tsconfig.json` `paths` property looks li

[2020-07-28 23:56] hnipps commented on #52
My current workaround is to `npm link` each libs `dist` directory and then `npm link `@bv0012/lib-a` in the root directory and remove the paths for those libs from `tsconfig.json`

[2020-07-30 00:34] hnipps commented on #52
I also found out that even though `lib-a` and `lib-b` are not bundled with `main-lib`, the app that depends on `main-lib` is able to resolve the dependencies correctly without using `npm link`.

[2020-07-30 00:45] hnipps commented on #52
Here's a [minimal reproduction](https://github.com/hnipps/rollup-issue-repro).

Run `nx build lib-a` followed by `nx build main-lib` to see the issue.

[2020-08-05 11:30] luchsamapparat opened #54 "404 File Not Found: apps/my-app/www"
There still seems to be an issue with the `dist` path when serving an app.

**Steps for Reproduction**
[code]

Here's a project setup with the exact steps as described above:
https://github.com/luchsamapparat/nx-workspace-stencil-404-issue

*Note:* When first starting the app, the build failed with an error: `TypeScript: Duplicate identifier 'IteratorResult'`. I fixed that by updating `@types/node

[2020-08-05 11:36] luchsamapparat commented on #54
This is the config passed to `runTask` at [stencil-runtime.ts:247](https://github.com/nxext/nx-extensions/blob/master/packages/stencil/src/builders/utils/stencil-runtime.ts#L247)

<details>
<summary>Config</summary>

[code]
</details>

[2020-08-05 12:17] luchsamapparat commented on #54
Curiously, with the fixed `@nxext/stencil` from the PR it even works with Nx 10 🤔

[2020-08-05 14:26] luchsamapparat commented on #52
It seems that path mappings are not supported out of the box by the stencil compiler which seems to be using rollup. There are dedicated Rollup plugins for that issue:

https://github.com/bitshiftza/rollup-plugin-ts-paths
https://github.com/simonhaenisch/rollup-plugin-typescript-paths
https://github.com/Mutefish0/rollup-plugin-typescript-path-mapping/blob/master/index.js

However, in context of Nx

[2020-08-05 17:59] luchsamapparat commented on #52
I spent the afternoon on a PR for `rollup-plugin-typescript-paths` and got the `extends` part working (simonhaenisch/rollup-plugin-typescript-paths#5). However, I noticed too late, that the plugin runs _after_ TypeScript compilation:

Which means that path mappings that reference the `index.ts` file of a lib won't work (as they are currently generated by the `@nxext/stencil` plugin):

[code]

[2020-08-05 23:42] hnipps commented on #52
@luchsamapparat thank you for sharing your investigation!

FWIW I'm on Mac OS.

I found that the changes introduced in the PR you mentioned were subsequently removed in [this PR](https://github.com/ionic-team/stencil/pull/2288) which has a lot of changes but very little context and has something to do with removing the legacy compiler.

I don't know if they were incorporated into another file beca

[2020-08-06 06:58] luchsamapparat commented on #52
I did a quick check yesterday and created a new project with `npm init stencil`. I added `"@foo": "src/some-file.ts"` as path mapping to the generated `tsconfig` and then added an import for `@foo` to the generated component - and it worked 🤔

[2020-08-06 11:04] #54 closed

[2020-08-06 11:26] DominikPieper commented on #52
@luchsamapparat thanks for your help.

Sorry for the late response, I'm at holidays right now.
I'll take a look at soon as I can

[2020-08-07 00:18] MMT-LD opened #56 "Unable to install stencil lib"
Hey,

When installing a fresh nx project, which is using the latest versions of everything. Most things work, however, running ```nx g @nxext/stencil:lib my-lib``` results in an error ```cannot read property 'paths' of undefined```. All other libs work, i.e. ```nx generate @nrwl/react:library``` it just seems to be this package. Any ideas?

Thanks in advance

EDIT: Looks like latest version is not

[2020-08-07 00:22] hnipps commented on #52
@DominikPieper no problem, enjoy your holiday :)

@luchsamapparat I'm not seeing an issue with paths like your example. It's when the path is pointing to a build dir, e.g. `"@bv0012/lib-a": ["dist/libs/lib-a"]`.

I did the same quick check using `npm init stencil` but with a path like above and I still see `Bundling Warning UNRESOLVED_IMPORT`.

I haven't tried using `rollup-plugin-typescript-paths

[2020-08-07 08:24] luchsamapparat commented on #52
This is my stencil-only test for path mappings: https://github.com/luchsamapparat/stencil-path-mapping

`[tsconfig.json](https://github.com/luchsamapparat/stencil-path-mapping/blob/master/tsconfig.json#L20)`
[code]

`[src/util.ts](https://github.com/luchsamapparat/stencil-path-mapping/blob/master/src/util.ts)`
[code]

`[src/components/app-home/app-home.tsx](https://github.com/luchsamapparat/stenci

[2020-08-07 08:30] luchsamapparat commented on #52
@hnipps Ah, then Stencil probably didn't implement the module resolution, that TypeScript is perfoming, which is quite complex:

https://github.com/microsoft/TypeScript/blob/2c08affa0d0d7fc55f15ab22e0326b93326d21d8/src/compiler/moduleNameResolver.ts#L927
https://github.com/microsoft/TypeScript/blob/2c08affa0d0d7fc55f15ab22e0326b93326d21d8/src/compiler/moduleNameResolver.ts#L1165

Maybe it's worth

[2020-08-10 10:07] DominikPieper commented on #56
Hey, yes nx 10 isn't working yet. There are some changes (mostly with tsconfig) but I'll push a working version for nx 10 within the next days

[2020-08-12 05:29] DominikPieper commented on #56
Hay, you could try the preview version  @nxext/stencil@10.0.0-0

[2020-08-12 05:50] DominikPieper commented on #52
Okay, now I'm back and looked into this. I'll do some experiments as well. The ugly/fastes solution could be using rollup again to bundle the libs. The @nrwl/web plugin does this, cause you can request the dependency tree und bundle up then. I'll try some more with the stencil compiler but maybe that's an workaround

[2020-08-12 18:23] MMT-LD commented on #56
@DominikPieper Thanks ill give it a try

[2020-08-19 15:16] BrucePauker opened #63 "Unable to build react project"
Hello,

I'm writing an application using react and a library using stenciljs and nxext/stencil.

When I try to build the application using some stencil components, I have the followings error :

[code]

I have previously built the stencil-react library, but the errors seems to be coming from the original stencil-library.
Could you help me on this ? I have been stuck for a while now..

Thank you ve

[2020-08-19 15:34] DominikPieper commented on #63
Is there any code leading to this on github? A repo I can look at?

[2020-08-19 16:02] BrucePauker commented on #63
Hi @DominikPieper

Unfortunatly I can't give you access to the repo.

However here are some configurations files :

tsconfig.ts :
[code]

stencil.config.ts

[code]

main.tsx from the react app

[code]

If you need other informations just let me know.

Thanks ! 👍

[2020-08-21 05:40] DominikPieper commented on #63
I'm not sure what the problem is. Maybe that's a better question for the stencil slack, cause I don't think that's not plugin related and more like a STencilJs thing itself

[2020-08-21 05:41] #56 closed

[2020-08-24 20:12] #46 closed

[2020-08-25 09:26] BrucePauker commented on #63
Hi @DominikPieper,

The thing is, it looks like the react project is trying to include the base stenciljs library and not juste the react output target. If you look at the errors, it only refers to the stencil library and not to the react builded library. Moreover, if i just remove the path in the global tsconfig.json :
`"@aphilia/stencil-ui-components": ["libs/stencil-ui-components/src/index.ts"]

[2020-08-25 09:41] DominikPieper commented on #63
@BrucePauker sounds normal. The React output target contains wrapper to appear like React components, but still use the stencil web components. It won't generate native React components, but just wrappers.

[2020-08-31 00:39] keremtiryaki opened #67 "how import a stencil component from a stencil-lib in a stencil-pwa-app"
I would like to use a [stencil-lib-component](https://github.com/keremtiryaki/my-stencil-nx-demo/blob/master/libs/stencil-lib/src/components/my-component/my-component.tsx) in [stencil-pwa-app](https://github.com/keremtiryaki/my-stencil-nx-demo/blob/master/apps/stencil-pwa)

for ex:
https://github.com/keremtiryaki/my-stencil-nx-demo/blob/master/apps/stencil-pwa/src/components/app-home/app-home.tsx#

[2020-09-01 12:22] b-barry opened #68 "Support Stencil 2.0"
Hello,

[Stencil 2.0](https://github.com/ionic-team/stencil/blob/master/CHANGELOG.md#-200-2020-08-31) was released yesterday, I was wondering if this plugin will later support it.

If yes, how could I help to make it happen. I will begin a project in the coming weeks and your plugin will be extremely important for us.

Thanks for this excellent plugin !

[2020-09-01 12:39] DominikPieper commented on #68
Hi,
The next update I'll publish will use 2.0 as default. The plugin uses the stencil package available, so there's no direct dependency. The schematic installs version 1 but version 2 comes without breaking changes. I did some tests with the version 2 beta, and it worked, so you can try v2 with just updating the package.json.

Thanks and great that the plugin helps. If you've any problems, let me

[2020-09-01 13:00] b-barry commented on #68
Super ! @DominikPieper  Thanks for the quick answer. I will try it soon.

[2020-09-03 17:40] edxz7 opened #69 "Unable to run e2e tests in stencil libraries or apps inside an NX workspace"
Hello Dominik I expect you are doing well. I'm having troubles running e2e tests with Stencil using the @nxext/stencil plugin, (but in any other aspects, it works flawlessly, thanks for making it possible). Below I describe the problem

## Current Behavior
There isn't a way to run Stencil's e2e test inside an NX workspace. Working only with Stencil (outside an NX monorepo) everything works fine.

[2020-09-03 18:12] DominikPieper commented on #69
Hey Eduardo,
thanks for reporting the bug. I'll take a look and hopefully fix it for the next version

[2020-09-03 18:44] edxz7 commented on #69
Thanks Dominik, I will pending when the next version is released

[2020-09-06 11:36] #68 closed

[2020-09-06 11:37] #50 closed

[2020-09-15 11:36] raisiqueira opened #70 "Fail to use Stencil output targets"
Hi, i have a problem with the `nx g @nxext/stencil:add-outputtarget` command. I try to run but after select the output framework the console returns a generic error:

![image](https://user-images.githubusercontent.com/2914170/93205441-33553580-f72e-11ea-8034-58d0b4e9b975.png)

NRWL Workspace version:

[code]

Can someone help me?

[2020-09-15 11:41] DominikPieper commented on #70
Hi, something I probably have to add to the docs, for this feature the nx packages @nrwl/angular or @nrwl/react have to be installed for angular and react, cause the schematics will be used.

[2020-09-15 11:51] raisiqueira commented on #70
Hi @DominikPieper i have the `@nrwl/angular` at version 9.5.1, but the same error are returned :/

[2020-09-15 14:04] raisiqueira commented on #70
Update: I updated my workspace to `nrwl 10` and it worked!

[2020-09-15 14:04] #70 closed

[2020-09-22 12:22] b-barry commented on #69
I got the same issue when upgrading to stencil v2. I managed to fix the e2e by adding the following package.json
[code]
However the build command is then broken.

[2020-10-05 11:21] #69 closed

[2020-10-05 13:14] #63 closed

[2020-10-05 18:15] b-barry commented on #47
I think @nx-plus/Vue has a good support now. Do you plan to add it ?

[2020-10-05 18:52] DominikPieper commented on #47
@b-barry on the way already. Hadn't enough time to complete it yet but should land the next days on npm

[2020-10-06 06:34] #47 closed

[2020-10-11 12:10] andrasbacsai opened #86 "How to use TailwindCSS wtih @nxext/svelte?"
Hey, how can I use TailwindCSS properly with Svelte?
I've tried to use custom `rollup.config.js,` but it does not work.

Always received the following error:

`Error during bundle: Unexpected character '@' (Note that you need plugins to import files that are not JavaScript`)

I think something is with postcss, but not sure.

[2020-10-11 13:05] DominikPieper commented on #86
How did you added the rollup configuration? I'm on the feature to extend the internal config right now and I'll add a patch version hopefully later today to add it.

[2020-10-11 13:28] andrasbacsai commented on #86
I've just found out that it does not read my custom rollup configuration - I think it did.

I've tried like [this](https://nx.dev/latest/node/plugins/web/builders/package#rollupconfig), but it's a different builder.

[2020-10-12 06:23] DominikPieper commented on #86
I published a new version which now is able to add e.g. plugins to the rollup config like the web packages from nrwl does.

Small experiment with tailwind:
[code]
and
` "rollupConfig": "apps/svelte/update-rollup",`
for the builder options in the workspace.json for build and serve. (tailwind config etc need to be there as well for sure)

[2020-10-12 07:37] andrasbacsai commented on #86
It works great, thanks! There is only one thing I need to solve somehow. It is currently bundling the purged CSS into `bundle.js`. It would be better if somehow it can be added to the `bundle.css`, but I could not solve it yet.

[2020-10-12 07:40] DominikPieper commented on #86
I'm trying to figure out what would be the best config for this. If I prototyped it I'll add docs about how I did it and maybe add a schematic for it for an easier start

[2020-10-12 12:21] DominikPieper commented on #86
@andrasbacsai I added another maybe helpful option to archive that, you're able to hook in a method to configure the svelte preprocessor with something like this:
`function setSveltePreprocessOptions(options) {
  return {
    postcss: {
      plugins: [
        require('postcss-import')(),
        require('postcss-nested')(), // Remove if you can't wan't to use nested structures.
        require('

[2020-10-12 12:38] andrasbacsai commented on #86
Wow, cool. It just works. And as we are adding tailwind into `.svelte`, I can use `@apply` as well. :tada:

With this configuration, we could use `purge` in development to improve postcss performance `(tailwind.config.js)`:

[code]

[2020-10-12 12:49] DominikPieper commented on #86
Great. If you've any more problems just let me know. I'll add an example config for tailwind to the docs later I think :-)

[2020-10-12 13:35] #86 closed

[2020-10-27 10:51] DominikPieper commented on #52
Hey guys, finally I had some time to investigate deeper into this. Right now I try to find a solution for buildable libs. Trying with stencil 2.0 (maybe something fixed in the meantime) if I export the components I want to use in the libraries index.ts instead of the generated components.d.ts file it works ootb. I'll change the default template for not buildable libraries I think, to work here lik

[2020-10-27 11:10] DominikPieper commented on #67
Hey, sorry for the delay. Yes, it is. You'll have to export the lib component and import the lib or component into your app

[2020-10-27 11:40] #67 closed

[2020-11-02 19:47] dannymcgee opened #102 "Unable to build/serve Stencil library"
### Repro:
1. Create a new Nx workspace
2. Install `@nxext/stencil`
3. Run `nx g @nxext/stencil:lib my-lib`
4. Run `nx build my-lib` or `nx serve my-lib`

### Expected:
Stencil library should build out to the `dist` directory

### Actual:
[code]
### Notes:
Typically you would need to add the `--buildable` and/or `--publishable` flag to the generate command for an Nx library, but this extension doe

[2020-11-03 08:38] dannymcgee commented on #102
Small update on the progress I made (or didn't) tonight:
- Fixed the Job Output validation (need to return `{ success: false, error: err.message }`)
- Fixed the `'root' of undefined` issue (need some nullish coalescing in the `devServerConfig` definition in `stencil-runtime.ts`)

Unfortunately now the Stencil compiler is throwing errors (`cannot read property 'extendedDiagnostics' of undefined`).

[2020-11-03 08:50] DominikPieper commented on #102
Hey @dannymcgee
The --buildable behavior will change in the future, the main branch already needs a --buildable for the serve yet. I'll take a deeper look as well and the path's problem ist a known problem for me, hard to fix as a not windows user. I started to add more e2e tests for that.
The library part needs some more stuff I'm already working on, but the bug strange. I'm able to reproduce it

[2020-11-03 10:00] DominikPieper commented on #102
Okay, the serve part was a local change I had. I'll spin up my Windows VM, cause on Mac I'm able to run the serve. So hopefully again just a path error.

[2020-11-03 12:35] DominikPieper commented on #102
I tried to reproduce, bus except the error I had cause of local changes I wasn't able to reproduce in the playground on windows. Are you able to push a repo which doesn't work on yours to github?

[2020-11-03 15:49] dannymcgee commented on #102
@DominikPieper I'll give it another shot tonight after pulling your latest changes and see if I'm still having the issue

[2020-11-03 17:37] dannymcgee commented on #102
@DominikPieper Went ahead and tested this out on my lunch break — the error output has gone away, but I'm getting the same actual result, which is that the only file generated is `dist/libs/ui/package.json`, which looks like this:

[code]

[2020-11-03 18:24] dannymcgee commented on #102
@DominikPieper One more quick note: After enabling error reporting I'm running into several `cannot read property ____ of null/undefined` errors. Making a targeted update to the [Stencil `tsconfig.lib.json`](https://github.com/nxext/nx-extensions/blob/main/packages/stencil/tsconfig.lib.json) will make these issues easier to debug:
[code]
I use the `strictNullChecks` flag on all of my TypeScript pr

[2020-11-03 19:07] DominikPieper commented on #102
Can you look into the workspace.json? are the paths for the config okay?

[2020-11-06 06:59] dannymcgee commented on #102
@DominikPieper Sorry for the delayed response!

Yes, but the angular/workspace.json always uses forward slashes for paths, regardless of platform. I'm not sure how nx/@angular-devkit deals with that, maybe they run all paths through a normalizer before doing any file system operations?

[2020-11-16 18:17] cassshh opened #111 "Not able to use shared assets"
**Version**
@nxext/svelte -- 10.1.2

**Intro**
In a current NX workspace project I've multiple applications and (shared) libraries.
I wanted to try out Svelte within this workspace and stumbled on this NX-extension.
It's working great, except that I face **2** (similar) `assets: []` issues:
- Can't use assets outside of the project source root (e.g. shared assets from a library).
- Can't use objec

[2020-11-17 08:14] cassshh commented on #111
Closing issue, because #110 has been merged.
Note that this is only resolved for Svelte, and that this might also be present for StencilJS.

[2020-11-17 08:14] #111 closed

[2020-11-17 08:47] DominikPieper commented on #111
@cassshh the asset resolution for stenciljs works different, cause the stencil compiler itself is aware of it, not the plugin.

[2020-11-22 10:41] mehrad-rafigh opened #115 "Cannot read property 'dependencies' of undefined"
Steps to reproduce
- `npx create-nx-workspace@latest --preset empty --name web-components-with-angular-and-react-poc`
- `npm install --save-dev @nrwl/react`
- `npm install --save-dev @nrwl/angular`
- `npm install --save-dev @nxext/stencil`
- `npx nx g @nxext/stencil:core`

[2020-11-22 10:50] DominikPieper commented on #115
What do you want to archive? The core schematic isn’t meant to be called by the users

[2020-11-22 12:42] mehrad-rafigh commented on #115
Good to know. I thought I need to invoke it, since it is mentioned in the docs.

[2020-11-22 12:52] DominikPieper commented on #115
Good point, I’ll add a note. You just have to run the lib, app or whatever project you want to create. I’ll take care of the dependencies

[2020-11-22 13:17] mehrad-rafigh commented on #115
Thanks @DominikPieper. I'll close this issue then

[2020-11-22 13:17] #115 closed

[2020-11-26 14:37] maku opened #119 "Documentation / example of svelte app with adjusting the configuration"
Is there a documentation or example how to do configuration of a typical svelte app based on rollup? (e.g. for usage of tailwind, postcss, routify)

[2020-11-29 07:07] pqt commented on #102
I'm also running into this issue myself.

My setup however is a basic `nx` generated repo (empty, for open-source), and then I added a basic 1 function node library, and then added the generated stencil `lib` with basic CSS. I cannot run any of the commands `serve`, `build`, `test`, or `e2e`.

[2020-11-29 19:38] xsintill opened #122 "ENOENT: no such file or directory, stat '/C/dev/svelte-test/svelte/apps/test/public' while building/serving a completely new svelte app"
I am working on windows 10. nx version used is 10.4.0

steps to reproduce:
- npx create-nx-workspace@latest
- What to create in the new workspace -> choose empty
- CLI to power the Nx workspace -> nx
- Use Nx Cloud -> no
- cd into new dir
- npm install @nxext/svelte --save-dev
- nx g @nxext/svelte:app test
- nx serve test
ENOENT: no such file or directory, stat '/C/dev/svelte-test/svelte/apps/test

[2020-12-03 05:29] DominikPieper commented on #52
Unfortunately, the new version brings in a half solution—there a now the concept of buildable and not buildable libraries like in the Angular plugins. Import from not buildable plugins works well (just typescript doing some work here) but buildable libs, there's not a solution yet :-(

[2020-12-03 05:39] DominikPieper commented on #119
Hey, sorry, right now, there's no such documentation. Docs are fairly minimal yet, but I plan to do some work here the next time. With the knowledge from version 1, I'll change some things here and, after that, hopefully, deploy some example repos and more docs. Sorry about that!

[2020-12-04 10:40] cassshh opened #126 "Publishing latest (svelte) package"
Hi,

First of all, I just want to thank you for your work.
And by no means I want this to come over as pressure.

This is more of a question than an 'issue';
I'm wondering when the latest version of `@nxext/svelte` is being published (to npmjs)?
As I'm waiting for #110 to become available for my side-project 😄

Since the other packages (`@nxext/stencil` and now `@nxext/tailwind`) were updated this

[2020-12-04 13:13] DominikPieper commented on #122
The new version 10.1.3 should fix this :-)

[2020-12-04 13:13] #122 closed

[2020-12-04 13:15] DominikPieper commented on #126
Hi,

sorry about that. You're right, I stumbled on another bug but now I released a patch version with that changes in place as well.

Please try version 10.1.3 :-)

[2020-12-04 14:25] cassshh commented on #126
No worries.
Just tested the latest version, and my app now builds correctly 🙂
Cheers!

[2020-12-04 14:25] #126 closed

[2020-12-05 07:21] xsintill opened #128 "files and folders not copied from public to dist"
Steps to reproduce

os used windows 10
nx version used 10.4.4
nxext/svelte version used 10.1.3

- Creating a brand new svelte app in a blank nx workspace
- nx serve

Everything builds without error but when navigating to the site it can not start giving the following error:
[code]
This is because the files in public are not being copied over to the dist folder.

To make it work for me I changed th

[2020-12-08 19:56] #119 closed

[2020-12-10 13:38] alexandermikuta opened #130 "Path can not be used when generating Svelte-App"
**Actual:**

Error when generating an svelte-app with a full path, e.g. `nx g @nxext/svelte:app products/ui`.
Error-message is `Cannot read property 'architect' of undefined`

**Expected:**

like in other existing nx-plugins would be creating the app with name `products-ui` inside of folder `apps/products`. This would make structuring the monorepo a lot easier, e.g. when building micro-apps with o

[2020-12-10 13:41] alexandermikuta opened #131 "feat: option to use svelte@next when generating app"
I would be nice to have the option when generating an app with `nx g @nxext/svelte:app my-app` to be able to use `svelte@next
` instead.

[2020-12-11 05:36] softgripper opened #132 "nxext/svelte live reload giving ERR_CONNECTION_REFUSED"
Getting ERR_CONNECTION_REFUSED error from livereload when accessing the svelte app on default settings (localhost:4200).

![livereload](https://user-images.githubusercontent.com/26377893/101867006-57f66780-3bce-11eb-8d9c-7db72598926f.png)

Fresh nx-workspace
Fresh nxext/svelteapp
Fresh nrwl/reactapp

I'm starting the app with

[code]

The rollup bundler is detecting file changes, and is writing th

[2020-12-15 07:22] sforner405 opened #134 "Support NX 11.0"
Hi,
just updated the nx workspace to 11. It seems the stencil extension is not working anymore.

If I want to build a buildable lib I get the following error:

Cannot read property 'build' of undefined

It is just a new generated stencil lib.

[2020-12-15 07:31] DominikPieper commented on #134
Hi, yes the stencil plugins version match the nx versions. The last released is 10.x and that's compatible with Nx 10. The Nx11 compatible version will be released soon, already working on the migration. Hopefully at weekend I'll be done und release the version 11

[2020-12-15 08:35] sforner405 commented on #134
Thanks, for the reply.
As far as I can see the problem is the change in handling architect elements in context target, as they are empty right now.

[2020-12-15 10:59] DominikPieper commented on #134
Yes, that's cause the internal api changed. Nrwl prepared some migrations for that already, so it's not hard to change it. :)

[2020-12-19 12:45] DominikPieper commented on #134
Update for version 11 is published

[2020-12-23 06:14] #134 closed

[2020-12-29 15:26] maku commented on #86
@andrasbacsai Could you explain how to customize the rollup config? I have a "usual" svelte app using rollup and tailwind and want to try using nx. But I cannot find any documentation how to do this.

[2020-12-30 11:03] DominikPieper commented on #130
New release

[2020-12-30 11:03] #130 closed

[2020-12-30 16:44] b-barry opened #139 "[Svelte] Window build issue due path issue for sveltePreprocessConfig build option"
Hello,

Thanks for the Svelte plugin, it is saving a lot of time.
I am setting an sveltePreprocessConfig for adding tailwind and purgecss ( could be cool btw to have this option because you have added the tailwind plugin).

My path is: "apps/my_project/preprocess.js"
The file contains:
[code]

On mac, it is working fine but on window, I am not able to run the builder because it is can not find the

[2020-12-30 16:46] b-barry opened #140 "[Svelte][feature request] Schematic to generate a lib"
I think it will cool to be able to generate lib like for Stencil and be able to build them in production (maybe we could use @web/packages plugin of Nx).

I am using the version: ^10.1.3

[2020-12-30 18:42] maku opened #141 "Request for enhanced documentation for svelte"
I would really like to use this extension with a svelte app.

But I do not  get it how to handle a "custom" rollup config. I read in the docu that there is "--sveltePreprocessConfig" and "--rollupConfig" option for the build step. But I have not found anything how to use this.

Is there documentation or an example project?

[2020-12-30 19:04] DominikPieper commented on #140
That'll be the next step. Worked today on the Nx11 update, hopefully start to work on this tomorrow while fighting some problems with windows builds

[2020-12-30 19:07] DominikPieper commented on #141
Yes, unfortunately there's not that much documentation yet. There's a issue with a example config, the options have to be a path to a js file which manipulates the config.

[2020-12-30 19:09] DominikPieper commented on #139
Svelte is on the list for the tailwind plugin. Fighting with the path problems on windows as well. Did you tried today's version 11? (for NX 11)

[2020-12-30 19:23] DominikPieper commented on #141
Here it is https://github.com/nxext/nx-extensions/issues/86

[2020-12-30 19:25] DominikPieper commented on #141
That's a example in there for the preprocessor config. Just paste it in a js file and add it to the project and add the option with the path

[2020-12-30 19:31] b-barry commented on #139
Thanks for the quick answer.
I could migrate yet on the version 11.
Could try it to validate if I got the issue

[2020-12-30 19:33] b-barry commented on #140
I tried to build manually using web package but getting issue in the svelte app about the tsconfig paths that it is not valid

[2020-12-30 19:40] DominikPieper commented on #140
@nrwl/web unfortunately uses an old rollup version. Tried that first as well but the old rollup version doesn't seem to work good the svelte

[2020-12-30 20:30] b-barry commented on #140
Yes, I forgot about it. I downgraded the version of the package to make them work. It was a pain in the ass

[2020-12-31 05:00] DominikPieper commented on #140
That's the reason why I use a custom builder. @nrwl/web would be cool, like the react package but it won't work correctly. Maybe someday.

[2021-01-01 18:59] kerosin opened #142 "building stencil library not possible - dist folder not generated"
Hi there,

this might not been an issue per se, more a question.
I'm not able to build my nx stencil library to create a dist folder.

Here are the steps I took:
1. create a fresh nx 11 workspace ```npx create-nx-workspace@latest my-workspace``` with a new Angular app
2. installing nxext ```npm install -D @nxext/stencil```
3. generating a stencil library via ```nx g @nxext/stencil:lib web-componen

[2021-01-04 07:29] DominikPieper commented on #142
Hi,
oh you're right. That's a bug in the make-buildable-schematic. Please add this to your stencil.config.ts, I'll fix the schematic.

`{
      type: 'dist',
      esmLoaderPath: '../loader',
      dir: '../../dist/libs/web-components/dist',
    },
    {
      type: 'docs-readme'
    },
    {
      type: 'www',
      dir: '../../dist/libs/web-components/www',
      serviceWorker: null // disable s

[2021-01-04 10:53] kerosin commented on #142
Okay initially my stencil.config.ts looked like this
[code]

and i changed the outputTargets to the value you provided

the strange folder `'......libsweb-components-angular/src/` is now on *dist/libs/web-components*

I still get an error about the missing loader
`Error: libs/web-components-angular/src/lib/web-components-angular.module.ts:3:38 - error TS2307: Cannot find module '@my-workspace/web-

[2021-01-04 10:59] DominikPieper commented on #142
Maybe some clarification about what's going ideally on.

The dist of web-components contain after build the web components. That's where the loader folder should appear as well.
The web-components-angular contains glue-code for the web-components and Angular. They're both needed

[2021-01-04 11:00] DominikPieper commented on #142
The glue code will be generated in the *-angular project. That's what will be packaged into that project

[2021-01-04 11:01] kerosin commented on #142
Manually setting the path to `import { defineCustomElements } from '../../../../dist/libs/web-components/loader';` on the `web-components-angular.module.ts` fixed the behaviour. Is that the expected way to store it on the global dist folder instead to the workspace folder?

[2021-01-04 11:17] DominikPieper commented on #142
What do you mean by "Instead of the workspace folder?" Ideally, it should be imported by the @yourProject/web-components/leader

[2021-01-05 06:29] kerosin commented on #142
If I run `nx build web-components` the loader and dist files are stored to the global dist folder
![grafik](https://user-images.githubusercontent.com/804836/103613433-d7a1f880-4f26-11eb-923a-194598881853.png)

So the loader files are not accessible via `@my-workspace/web-components/loader`.

That was the reason I changed the path on the `web-components-angular.module.ts` to the global dist folder.

[2021-01-06 08:46] DominikPieper commented on #142
A repo would be great. Yes that's unintended and should be handled by the repo correctly (or better by typescript through the config)

[2021-01-06 11:54] kerosin commented on #142
Okay there you go: https://github.com/kerosin/nx-stencil-example

The steps to create it are basically the same as on the first post

[2021-01-07 06:38] DominikPieper commented on #142
Hey, I took a look and prepared a PR for that repo with the fix. Basically the make-buildable builder had the bug, that the loader wasn't added to the tsconfig. With that, nx wasn't able to find the loader workspace imports for the angular-module.

[2021-01-07 07:07] kerosin commented on #142
thank you very much! I will close this issue

[2021-01-07 07:07] #142 closed

[2021-01-12 01:54] davidmoshal opened #151 "critical documetation bug"
Hi, not sure what control you have over npmjs, but that page erroneously suggests that this plugin should be installed as a dev dependency:

https://www.npmjs.com/package/@nxext/svelte

`npm install @nxext/svelte --save-dev`

should be:
`npm install @nxext/svelte --save`

Thanks for this plugin, excited to be using it!

[2021-01-12 11:17] DominikPieper commented on #151
Hi,

why do you think it's an error? The plugin is exactly that, a dev dependency. It just adds features for the developer which shouldn't be part of the result

[2021-01-13 12:47] #140 closed

[2021-01-13 15:51] b-barry commented on #139
I migrated everything on Nx11 and tested on window, I don't have any issues

[2021-01-13 15:53] b-barry commented on #140
Thanks @DominikPieper  for the work. I made a custom setup so I can migrate.

[2021-01-13 17:47] DominikPieper commented on #139
Great to hear :)

[2021-01-14 01:46] davidmoshal commented on #151
I agree, it should be a dev dependency, but for some reason it fails unless it's a non-dev dependency.

[2021-01-14 04:51] DominikPieper commented on #151
Mhh I can't reproduce that. What's the environment here? Os? nom or yarn (or something else)?

Did a quick test on a new empty nx workspace and all working with it as a dev dependency

[2021-01-17 20:18] davidmoshal commented on #151
npm

[2021-01-21 18:27] superpezgeek commented on #52
i was able to solve this by updating paths in tsconfig.base.json to this:
[code]

and by importing the packages in the global script:
[code]

it feels wrong, but it works and doesn't appear to break the dependency graph

[2021-01-21 21:37] FortinFred opened #156 "Compiled files not restored when build cache is up to date."
When the compile cache is up to date, the compiled files are not restored to the build directory for a stencil component library.

Version: 10.3.0

![image](https://user-images.githubusercontent.com/17817939/105415507-cdf6e100-5c06-11eb-9cc4-55deffd7e5f4.png)

Workaround:
Use the --skip-nx-cache

nx build web-components --skip-nx-cache

[2021-01-24 09:04] kerosin opened #158 "Creating a Ionic App fails with InvalidInputOptions [Error]"
If I call ```nx g @nxext/stencil:ionic-app my-app``` and chose "SASS" I get an error:

Full log:
[code]

[2021-02-03 12:43] raisiqueira opened #161 "Error to build a library"
Hi, i've created a lib with StencilJS into a clean NX project (using OSS template), but when i run the build command the following error appears:

[code]

Dependecies and devDependecies:

[code]

[2021-02-03 13:33] raisiqueira commented on #161
I compared NX 10.3.x and 11.2.x versions and saw that `fileUtils` don't exists more. I'll downgrade my workspace to NX 10.3.x and try another build.

https://github.com/nrwl/nx/compare/10.3.x...11.0.0

[2021-02-03 13:53] DominikPieper commented on #161
Thanks for the report. Yes, you're right. With 11.0 it wasn't a problem yet. Maybe something new with the 11.2 release

[2021-02-03 14:08] raisiqueira commented on #161
Nice, i was already making a fork of the project to submit a PR.

[2021-02-03 14:18] DominikPieper commented on #161
The new version renamed utils to utilities

[2021-02-03 16:18] tanepiper opened #163 "Adding svelte preprocessors to rollup config?"
I've tried to follow other examples in the issues here, but haven't been able to figure it out.

I have a custom rollup config already, but I'm trying to add a markdown library (https://mdsvex.com/) to my app (I also tried with https://github.com/AlexxNB/svelte-preprocess-markdown but had the same issue).

The problem is in both their examples they add the function directly to the svelte rollup pl

[2021-02-03 16:28] tanepiper commented on #140
@DominikPieper Any news on this being published? Is saw it here in the repo, but it's not in the npm module?

[2021-02-03 16:52] raisiqueira commented on #161
Already on NPM?

[2021-02-04 12:47] raisiqueira commented on #161
Fixed version: https://www.npmjs.com/package/@nxext/stencil/v/11.2.0

[2021-02-04 12:47] #161 closed

[2021-02-12 14:25] DominikPieper commented on #158
Right now you need to specify the npmClient "--npmClient=yarn".

I added a fix already to to find it out automatically

[2021-02-14 11:42] #158 closed

[2021-02-16 11:37] philippone opened #168 "Stencil: Malke lib publishable"
Hi,

my goal is to build a component library with Stencil that publish each component separately to npm.

To be more generic in this issue, I would like to distribute a library outside of the monorepo.

Nx supports `--publishable` option for the `library` generator for Angular, React and Node: https://nx.dev/latest/node/structure/buildable-and-publishable-libraries#publishable-libraries

Are there

[2021-02-17 09:10] DominikPieper commented on #168
Sounds like a good idea. I hadn't it on the list yet, thank you.

[2021-02-23 18:30] DominikPieper commented on #151
Do you have a repository where I can check with? I did some experiments with npm repositories, and I can't see a problem. (And it shouldn't be one cause --save-dev is correct, it's a dev dependency)

[2021-02-25 13:04] #151 closed

[2021-02-26 11:52] kerosin opened #182 "Stencil Library: Tests fails if component is using another library from nx workspace"
Hey,

I run into errors if a stencil component uses a library from the nx workspace.
The build itself (`nx build web-components`) is totally fine, but if I run tests (`nx test web-components`) I get an error about a missing module:
[code]

Reproduce:
- checkout https://github.com/kerosin/nx-stencil-example
- call `nx test web-components`

[2021-03-04 09:41] DiogoVCS opened #187 "[Svelte] Tests not recognizing the typescript in .svelte files"
Created a stackoverflow question regarding this issue [here](https://stackoverflow.com/q/66463653/7213999), with more code snippets.
Clean project, using the nx empty workspace (or with an angular one, its the same), added a svelte project using the command line `nx g @nxext/svelte:app my-app`, then added a component using `nx g @nxext/svelte:c my-comp` and after inserting this line in the MyCompo

[2021-03-04 10:18] DominikPieper commented on #187
Hi,
thanks for your issue. I added some changes which will come with the next release and simplify this. For now for you to add for the tests:
For the jest.config.js change the svelte transformer to this (with a path in your application directory)
[code]

and add a svelte.config.js in the dir with the following.
[code]

I'll add the files and paths as a default in the next release and add a option

[2021-03-05 23:32] #187 closed

[2021-03-07 05:54] DominikPieper commented on #163
I added a hopefully easier way to do the configurations. There's an example in the docs now.

[2021-03-07 05:58] DominikPieper commented on #128
Does this still exist for you with the newer versions?

[2021-03-07 05:59] DominikPieper commented on #131
I'll wait for the public beta I think. Every time I looked into svelte@next the last times the build process changed. From rollup to snowpack, now it's vite as a build system.

[2021-03-08 14:57] FortinFred commented on #156
Anything on this ?!

[2021-03-08 15:01] doliG commented on #156
I have the same concern.

[2021-03-08 17:05] #139 closed

[2021-03-09 09:29] DominikPieper commented on #132
Does this works with the newer versions for you?

[2021-03-10 08:23] tanepiper commented on #163
@DominikPieper Great! I've not had a chance to update yet but I'll have a look as this will help with me getting my E2E tests up for Formula. Thanks

[2021-03-11 16:14] kerosin commented on #182
@DominikPieper any idea what the reason might be?

I tried to add a custom testing configuration to the stencil.config.ts where the nx jest.preset.js is loaded as preset, but this results in further errors :(

[2021-03-11 16:27] DominikPieper commented on #182
Is it a buildable or not buildable dependency? The whole dependency stuff unfortunately is error prone at the moment :-(

[2021-03-11 17:11] kerosin commented on #182
A not buildable dependency.
But because the build of the stencil components itself is fine, it must be related to the tsconfig or jest setup of stencils internals I guess...

[2021-03-14 11:06] kerosin commented on #182
Topic might be related to https://github.com/ionic-team/stencil/issues/1307

I found a temporary fix. I edited *stencil.config.ts* and manually added the other project
[code]
Not an ideal solution, but works for now

[2021-03-14 11:07] #182 closed

[2021-03-25 16:04] FrancoisDF opened #198 "Svelte library build only generate the bundle.js file"
When creating and building a Svelte library, Svelte `build` only generates a single file in the dist folder.
When doing the same with an angular library that uses `@nrwl/angular:package`, we get all the `.d.ts` files and the `package.json` that ease the deployment of the library.
Is that expected? Is there a way to at least copy the `package.json` file in the build process?

[2021-03-29 09:45] DiogoVCS opened #202 "Importing typescript libraries in a svelte project"
I have a project where i need to import typescript libraries using the plugin @nrwl/web from within a svelte application. It gives the following error:

[code]

I have created a simple example, with the error reproduced [here](https://github.com/DiogoVCS/test-svelte-typescript-library).

If i am importing a javascript library, it works fine. Might be some rollup config, but i was not able to corre

[2021-03-31 08:14] DominikPieper commented on #163
I'll close this for now, reopen if the problem still exist or open a new after you tried the update :-)

[2021-03-31 08:14] #163 closed

[2021-04-02 17:47] DominikPieper commented on #131
Highly experimental yet, there will be breaking changes https://github.com/nxext/nx-extensions/tree/v11.0.0-next-Sveltekit

[2021-04-05 09:14] #132 closed

[2021-04-07 06:50] ball6847 opened #208 "[Svelte] historyApiFallback should be enabled for serve command"
In development, when we use routing with history strategy. It's necessary to fallback any non existing path to index.html, to let svelte handle the page.

### Current Behavior:

After running `nx serve`, any direct navigation from browser to non existing page will lead to devserver's 404 file not found page

### Expected Behavior:

After running `nx serve`, any direct navigation from browser to no

[2021-04-07 17:40] DominikPieper commented on #208
There’sa Patch Release for that now

[2021-04-08 14:55] ball6847 commented on #208
Updated to new version and work as expected

Thank you.

[2021-04-08 14:55] #208 closed

[2021-04-12 12:09] mburger81 commented on #168
Are there news?

[2021-04-14 15:45] #168 closed

[2021-04-14 18:37] DominikPieper commented on #156
Not really yet. That's something the plugin doesn't do manually, it's done by nx automatically so I'm not sure where to hook in or look at

[2021-04-15 06:14] #128 closed

[2021-04-19 13:01] #131 closed

[2021-04-23 14:46] philippone opened #224 "Stencil: Add Library Error"
Hi,

**Describe the bug**
I tried to set up a new workspace and added a stencil lib but got the following error:

[code]

**To Reproduce**
[code]

Used latest nx version `@nrwl/workspace": "12.0.8"`

I also tried with nx version `11.6.3` but got the same error:

**Expected behavior**
Added stencil library to workspace

[2021-04-24 12:50] #156 closed

[2021-04-24 12:59] DominikPieper commented on #224
Thanks for the Issue, there was a missing dependency

[2021-04-24 12:59] #224 closed

[2021-04-24 14:19] krcourville commented on #202
I think I'm running into a similar issue.  Good to confirm it's not just me.  Will dig a little more.

[code]

My project definition looks like:

[code]

[2021-04-27 10:51] Thebigbignooby opened #227 "NX with svelte-kit"
As I understand it nxext/svelte currently supports only the "old" svelte but not svelte-kit ?

I'm wondering if anyone is working on this at the moment?

[2021-04-27 10:55] DominikPieper commented on #227
There's a package @nxext/sveltekit right now, but doesn't reflect all changes of the last weeks after Sveltekit entered the public beta yet. https://www.npmjs.com/package/@nxext/sveltekit

[2021-04-27 11:47] Thebigbignooby commented on #227
I just found this package and came back to post the link but I see you beat me to it :p

thanks!

So, what needs to be done to bring this package up to date?

And are there simple steps I can take to use the latest sveltekit after having generated my nx app with the above package?

cheers

[2021-04-27 15:02] DominikPieper commented on #227
It is mostly just the code template files in the app generator. If you want you can just generate an Sveltekit application and migrate the files to the template files. You just have to watch the tsconfig, it use the base tsconfig

[2021-04-27 17:38] #227 closed

[2021-04-29 05:18] sbolz opened #228 "Enable CORS for dev-server"
I'd like to start the dev-server of a Svelte project with CORS enabled, so I can access the server from a different origin.

The `rollup-plugin-serve` has an option to pass arbitrary headers, but it is currently not used by the @nxext/svelte executor.
It would be great, if either an "headers" options could be passed directly to the rollup-plugin-serve, or alternatively a "cors" option that will ju

[2021-05-04 05:51] #228 closed

[2021-05-04 05:56] DominikPieper commented on #228
There's a option now to set headers :-)

[2021-05-04 06:00] sbolz commented on #228
Wow, that was fast! 🚀
Thank you so much 👍

[2021-05-04 06:03] DominikPieper commented on #228
There's a new release 11.3.2 . Please let me know if there's any problem

[2021-05-04 20:55] corysmc opened #231 "Build path isn't passed correctly to another builder calling @nxext/stencil:build"
**Describe the bug**
When trying to deploy using this plugin: https://github.com/ngx-builders/netlify-builder, I get an error that says "deployment failed" after investigating the source, the error said the file wasn't present.

**To Reproduce**
1. Create nx project
2. Create stencil/app
3. Follow tutorial here to add deploy to netlify: https://www.netlify.com/blog/2020/04/21/deploying-nx-monorepo

[2021-05-06 07:54] DiogoVCS commented on #202
I just managed to resolve this issue, and its not related with the svelte plugin, I'll leave here the solution for others that can encounter this error and just close the issue:

Add a ```babel.config.js``` file at the root of the Nx Workspace, it can be as simple as this one:

[code]

And don't forget to install the necessary packages:

[code]

And for running tests make use of the package ```bab

[2021-05-06 07:54] #202 closed

[2021-05-11 04:44] corysmc opened #235 "Issues testing react app with stencil built library"
**Describe the bug**
Simple test in react app that imports a stencil generated component fails because of a syntax error when importing the loader file.

**To Reproduce**
1. clone this repo https://github.com/corysmc/nx-stencil-workspace/tree/31842c0d3d0cbfc3964b7a04dd53677ce6dcf20f (basic setup for stencil components, react application that consumes those components with the loader included):
2.

[2021-05-13 17:46] AgentEnder opened #239 "Built packages contain spec files"
**Describe the bug**
Built packages include **/*.spec.ts files.

**To Reproduce**
Run `nx build ...` for the project.

**Expected behavior**
Built packages are javascript / json / .d.ts files + any other required files, without spec files or other dev dependencies.

**Additional context**
nrwl/nx#5566 fixes this for new plugins, older ones need to implement behavior.

see tinesoft/nxrocks#54 for n

[2021-05-13 17:51] DominikPieper commented on #239
Thanks for the bug, I'll add it soon :-)

[2021-05-13 18:35] #239 closed

[2021-05-17 06:08] DaSchTour opened #240 "Dependency Chaos"
**Describe the bug**
There are some weird dependencies.
For example `@nxext/tailwind` requires `@nxext/svelte` which needs a lot other peerDependencies.
Additionally `@nxext/stencil` requires `@nxext/tailwind@^11.2.0` which does not exist in NPM.
Currently I get a lot of warnings related to missing peer dependencies because of this.

**Expected behavior**
Clean and working dependencies.

[2021-05-17 11:04] DominikPieper commented on #240
The peerDependencies are not all needed, if you don't use all functionalities. e.g. the tailwind package (which will be removed soon) have both as a peer dependency cause they can generate the Tailwind config for stencil and svelte, but you don't need both to get them working. It'll need stencil for the stencil generator and svelte for the svelte generator

[2021-05-17 13:48] LuckeeDev opened #241 "The "id" argument must be of type string. Received undefined"
**Describe the bug**
I'm getting this error after creating a project with `@nxext/stencil` and setting up a Storybook instance for my library.
[code]

**To Reproduce**
Steps to reproduce the behavior:
- Bootstrap a new project with `yarn create nx-workspace`;
- Install `@nxext/stencil`;
- Create a new library and set up a Storybook configuration for this library;
- Try and launch the Storybook ins

[2021-05-17 14:08] DominikPieper commented on #241
Hey, thanks for the report. I'm aware of that problem and working on it already. The next release will contain a fix for that, hopefully.

[2021-05-18 14:30] DominikPieper commented on #241
Probably I'll remove the feature temporarily. With storybook v6 the Nx executor takes a parameter for the uiFramework and right now there's just Angular and React as a working option. It has to be changed to support HTML as well, with v5 this wasn't a problem.

[2021-05-20 17:14] DaSchTour commented on #240
Yeah but currently `@nxext/svelte` seams to be a direct dependency of `@nxext/tailwind` so it is always installed. I'm not using svelte and haven't installed it but I see that the peerDependencies of `@nxext/svelte` are missing

[2021-05-21 07:27] JoMen6 commented on #241
This could be fix it nrwl/nx#5610 :tada:

[2021-05-21 07:28] DominikPieper commented on #241
Yes, it should be fixed with that PR :-)

[2021-05-22 16:33] maierson opened #248 "Couldn't find package "@next/vite@12.0.0" required by "@nxext/svelte" on the "npm" registry"
**Describe the bug**
Trying to install with `yarn add @nxext/svelte -D` and it fails with the error in the title.

**To Reproduce**
See above

**Expected behavior**
The extension installs and is available for use.

**Additional context**
Add any other context about the problem here.

[2021-05-22 16:50] DominikPieper commented on #248
Thanks there was a typo in the dependency I missed. Fixed with 12.0.1

[2021-05-22 17:34] #248 closed

[2021-05-24 23:09] maierson opened #249 "Cannot find module '@angular-devkit/core'"
**Describe the bug**
Attempt to create an app with `yarn nx g @nxext/svelte:app my-app`

**To Reproduce**
Steps to reproduce the behavior:
See above

**Expected behavior**
Create the app in the workspace.

Instead command fails with stack trace:
[code]

**Additional context**
The nx cli is installed locally in the project to keep it in sync with @nrwl libs.

version is `"@nrwl/cli": "12.3.4",`

[2021-05-25 05:44] #249 closed

[2021-05-27 08:24] FrancoisDF commented on #198
Actually, using `@nrwl/web:package` let you correctly build the svelte library:
[code]

[2021-05-28 00:23] maierson opened #252 "Cannot find module '@angular-devkit/architect'"
First of all - thank you for resolving these issues so quickly and creating this project. I really appreciate it.

**Describe the bug**
Cannot start a svelte application that is created in the repository using the extension.

**To Reproduce**
Steps to reproduce the behavior:

Init svelte:
```yarn nx g @nxext/svelte:init ``` -> ok - this completes

Create svelte app:
``` yarn nx g @nxext/svelte:app

[2021-05-31 07:29] #252 closed

[2021-05-31 07:37] mburger81 opened #256 "bug(stenciljs:lib): serve on stenciljs lib does not work as expected"
**Describe the bug**
we have created an empty workspace with nx cli and added an stenciljs lib with
`nx g @nxext/stencil:lib my-lib --publishable --importPath=@abc/def`

But running
`nx serve my-lib`
the lib is not served as expected, is there a way to run and debug the lib as we do on plane stencil cli?

running serve it is opening a page with the files in the dist folder
![image](https://user-im

[2021-06-03 16:52] chalovega-cs commented on #115
hello. I'm having the same problem with `yarn nx g @nxext/stencil:init` init is intended to be used right?

[2021-06-03 17:09] DominikPieper commented on #115
@chalovega-cs no, the above mentioned core schematic is now called init. So it’s the same and not meant to be called by the user. It’ll be carried by the other schematics

[2021-06-03 18:57] chalovega-cs commented on #115
thanks @DominikPieper so what should i have to do? i used `nx list @nxext/stencil` and this was displayed:

[code]

[2021-06-03 19:21] DominikPieper commented on #115
@chalovega-cs seems like a Message from nx list. Just install the plugin and e.g. generate an application or library. Nothing more is needed

[2021-06-04 15:00] DominikPieper commented on #256
The easiest fix here ist, add the 'www' target and an index.html. That should be all to work

[2021-06-29 14:49] spencermayne opened #266 "Unable to build generated Stencil lib"
Following the documention at https://www.npmjs.com/package/@nxext/stencil,
I created a new nx workspace, installed the plugin, ran the generate command, and tried to build it.

Here are the commands I ran in order:
`npx create-nx-workspace@latest` selecting an empty workspace with any name.
`npm install @nxext/stencil --save`
`nx g @nxext/stencil:lib my-lib --publishable --importPath @test/my-lib`

[2021-06-29 16:27] DominikPieper commented on #266
Hey, thanks for the report. I'll take a look. After some short tests, seems a problem just on windows

[2021-06-30 08:06] #266 closed

[2021-06-30 09:05] spencermayne commented on #266
Updated, tested and it works! Thanks for the fast response and fix!

[2021-06-30 09:06] DominikPieper commented on #266
Great to hear. :-)

[2021-07-01 06:42] #102 closed

[2021-07-05 13:12] Jojoker33 opened #275 "Issue with the sveltekit package"
**Describe the bug**
when trying to generate a new svelte kit project  an error is shown :
*Package "@nxext/sveltekit" was found but does not support schematics.*

**To Reproduce**
  nx g @nxext/sveltekit:app newApp

**Expected behavior**
Being able to create a svelte-kit app in order to easily to change our existing svelte app into svelte kit

[2021-07-05 13:23] DominikPieper commented on #275
Hey, what version of Nx are you using?

[2021-07-05 13:52] Jojoker33 commented on #275
Hi, i used the verion 10.4.7

[2021-07-05 13:56] DominikPieper commented on #275
That won't work. The Sveltekit (and all other Nxext plugins) use Nx version 12.x.x

[2021-07-05 15:15] Jojoker33 commented on #275
I will update my version, thank you for your time and helps

[2021-07-06 06:02] Jojoker33 commented on #275
It's properly working now, thank you for your time, and sorry for that

[2021-07-06 06:02] #275 closed

[2021-07-20 12:30] #241 closed

[2021-07-20 14:29] #256 closed

[2021-07-21 05:01] #240 closed

[2021-08-31 19:10] DonKapot opened #298 "Svelte component generator (export default as default)"
**Description:**
Tried to generate svelte component (e.g. component name is TestComponentForLib) for a svelte library (e.g. library name is svelte-ui) and generator put this into index.ts.:
[code]
For one component it works, but if there are more than one component in lib - ts is throws error.

**Steps to reproduce the behavior:**
1) ```nx generate @nxext/svelte:component --name=testComponentForLi

[2021-09-01 10:03] #298 closed

[2021-09-03 20:48] zanettin opened #303 "Not compatible with @stencil/core@2.8.0 pkg"
**Describe the bug**
When scaffolding a new lib and upgrading the nx workspace to latest i'll receive an error from the core lib, that the `CI` flag is not defined. It works as long as we use `@stencil/core@2.6.0`. After that version we'll get the above mentioned error. This is caused by this PR (https://github.com/ionic-team/stencil/pull/2964) adding telemetry to the core. Within this PR they als

[2021-09-04 05:41] DominikPieper commented on #303
Hey @zanettin, right now @nxext/stencil isn’t compatible with any stencil version higher than 2.6. The APIs I need right now are not public yet, but I’m already talking with the Stencil Team how to proceed 😁

[2021-09-09 14:24] MichaelSeelisch opened #308 "Library Compilation and HMR"
A stencil ui component library isn't compiling automatically when nx workspace `serve` listens for changes, like it would happen for a react library. Compilation process has to be triggered manually for stencil components. Only changes in apps are recognized by the watch task.

[2021-09-10 09:43] RainerAtSpirit commented on #303
I was running into the same. I can confirm that pinning ` "@stencil/core": "2.6.0",` in package.json solved it.

[2021-09-10 09:47] DominikPieper commented on #303
I had a meeting with William about proceeding with it, and it will be solved with a new Stencil version. Right now, I'm unfortunately not able to solve this for Stencil > 2.6 until a new release.

[2021-09-10 09:50] DominikPieper commented on #308
Hi @MichaelSeelisch
Yes, that's correct and not possible that easy. There was a meeting with William from the Stencil team on how to solve this, but that's a feature for later.

[2021-09-11 18:55] TimSeyschab opened #309 "Nx test fails after creation of stencil library"
After creating a new empty nx workspace and creating a stencil library (nx g @nxext/stencil:lib my-lib), jest throws the following error.

[code]

here is the package.json
[package.txt](https://github.com/nxext/nx-extensions/files/7148367/package.txt)

[2021-09-11 21:05] ChrisKeck commented on #309
I also had this problem when migrating from NX11 to NX12. The cause was incompatible Jest dependencies. After all Jest dependencies were compatible with each other, it worked again. The only pain point is the non-migrated version of the plugin. I can only run it in version 11. All other NX plugins are version 12 :-( In my opinion, this is because: NX 12 brings Jest with version 27. Jest 27 does no

[2021-09-11 21:20] DominikPieper commented on #309
The main problem here is definitely the jest version. Something I try to override but unfortunately Nx does set the version of jest to 27. I wait for the stencil fix here eagerly

[2021-09-12 09:25] TimSeyschab commented on #309
Using NX11 does work. Thank you Chris for linking to the issue in stencil-js. Guess I'll wait with the migration to 12 until they fixed the issue

[2021-09-14 07:43] JoMen6 opened #310 "Stencil e2e tests failed"
**Describe the bug**
E2E tests failed with following error message:

[code]

**To Reproduce**

1. Clone this repo
2. Create playground
`npm run create-playground`
3. Create a stencil library in the playground
4. Build library
5. Run e2e tests

**Expected behavior**

E2E tests run successfully

**Additional context**

Platform: Windows 10

Versions:

nx: 12.7.1
stencil: 2.6.0
puppeteer: 10.0.0

[2021-09-17 14:15] mburger81 opened #311 "dependencies are not bundled as expected"
**Describe the bug**
In our package.json file for the workspace we have this dependencies:
[code]

But when we install the publishable lib in our ionic app, we run into the issue that the masonry-layout is not available.

Having a look to our original library we have to include it only in the dependencies and anything is fine when we install this lib in a angular project

Do I missing something?

[2021-09-23 04:41] #310 closed

[2021-09-23 06:50] DominikPieper commented on #311
Hey, I don't know how masonry-layout works. Is it pure css or some js imported anywhere?

[2021-09-24 07:04] DominikPieper opened #315 "proxy support for svelte"
### Discussed in https://github.com/nxext/nx-extensions/discussions/305

<div type='discussions-op-text'>

<sup>Originally posted by **xsintill** September  4, 2021</sup>
Dominik would it be possible to add proxy support to the svelte package? The serve rollup plugin currently used has no proxy support. This would help communication with a locally developed nestjs server (also in nx). More people

[2021-10-08 05:19] akshay-nm commented on #141
So you create a `rollup.config.js` in project dir, and specify the path to it in `svelte.config.cjs`?

[2021-10-14 17:24] Jefftopia opened #322 "devServer.root undefined when serving stencil library"
**Describe the bug**

After setting up a new nx workspace and running the following command to add a stencil project:

I receive the following error when running `npx nx serve components`:

Cannot read property 'replace' of undefined
TypeError: Cannot read property 'replace' of undefined
    at /Users/foobar/dev/design-system.npm/node_modules/@nxext/stencil/src/executors/stencil-runtime/prepare-co

[2021-10-17 09:53] luchsamapparat opened #323 "Error when running Svelte schematic in empty workspace: Cannot find module '@angular-devkit/core'"
**Describe the bug**
When running `nx g @nxext/svelte:init` in an empty Nx Workspace, the command fails with ...

[code]

`isNxGenerator` returns false in `@nrwl/tao/src/commands/generate.js:111` which causes `ngcli-adapter` to be loaded.

[code]

`isNxGenerator` seems to be looking for a `cli` property in the schematic's schema...

[code]

... which does not exist:

[code]

**To Reproduce**
[code

[2021-10-17 12:19] #323 closed

[2021-10-21 08:58] marucjmar opened #328 "Support nx 13"
This plugin not supported nx v13. When migrated to v13 build command return error.

[code]
This error exists because now `createProjectGraph` function not exists in https://github.com/nrwl/nx/blob/6017a05274d0e8b206809048c7504494f37f3100/packages/workspace/src/core/project-graph/project-graph.ts

[2021-10-21 16:33] DominikPieper commented on #328
@marucjmar v13 for all plugins available

[2021-11-02 09:48] emrehayirci commented on #328
[code]
Hello @marucjmar thanks for your reply. I migrated nx to the latest, cleared node_modules and re_installed again  all my dependencies and re-run again.
Outcome is the same, here is the verbose output of `nx serve frontend`:
[code]

My configration is failing at https://github.com/nxext/nx-extensions/blob/main/packages/svelte/src/executors/utils/rollup-options.ts#L119

It looks for options.h

[2021-11-02 10:37] DominikPieper commented on #328
The strange thing is that this line affects your build at all just after the update. I'll at a check for that line, but it's been there since May. ^^'

[2021-11-02 12:19] DominikPieper commented on #328
@emrehayirci could you update and re-test, please?

[2021-11-02 14:13] emrehayirci commented on #328
@DominikPieper Thanks a lot! Everything works well with the new release :)

[2021-11-04 10:41] SebastianSchenk opened #337 "Stencil: nx g @nxext/stencil:add-outputtarget does not support --importPath"
**Describe the bug**
nx g @nxext/stencil:add-outputtarget supports the `--publishable` flag, but not the `--importPath` flag. Therefore, creating a publishable outputTarget fails with the following error:

`For publishable libs you have to provide a proper "--importPath" which needs to be a valid npm package name (e.g. my-awesome-lib or @myorg/my-lib)`

**To Reproduce**
Steps to reproduce the beha

[2021-11-04 19:52] #337 closed

[2021-11-05 07:36] SebastianSchenk opened #339 "Stencil: Storybook stories written in TypeScript not working"
**Describe the bug**
When adding Storybook via `nx g @nxext/stencil:storybook-configuration my-lib`, a `my-component.stories.jsx` will be generated when creating a new component. Running this story works fine without any errors. However,  changing this file type to `.tsx` will lead to the following error when rendered in Storybook:

[code]

**To Reproduce**
1.  Create new stencil library `nx g @nx

[2021-11-05 09:11] DominikPieper commented on #339
That’s correct. That’s why I by default generate a jsx and no tsx file. That’s the solution from the storybook bugtracker. It works without any hacks until the native stencil integration is ready

[2021-11-05 09:14] SebastianSchenk commented on #339
Alright, thanks for the clarification.

[2021-11-05 10:31] SebastianSchenk opened #340 "Stencil: Running tests throws error"
**Describe the bug**
Running tests throws the following error:
[code]

**To Reproduce**

1.  Create new library `nx g @nxext/stencil:lib my-lib`
2. Run tests `nx test my-lib`

**Expected behavior**
Run tests without error.

[2021-11-05 15:21] DominikPieper commented on #340
What’s your jest version? If it’s 27 that’s the problem

[2021-11-08 10:32] SebastianSchenk commented on #340
My jest version is 26, but babel-jest is 27. Heres my full package.json

[code]

[2021-11-08 14:04] SebastianSchenk commented on #340
I found a solution for my problem.
@nrwl/jest depends on `jest-config` in version `27.2.2`. Downgrading this in my dependencies to `jest-config@26.6.3` does the trick.

[2021-11-08 14:12] DominikPieper commented on #340
Hopefully, that's all obsolete after Stencil supports Jest 27 natively

[2021-11-09 16:56] DominikPieper commented on #340
I’ll close this @SebastianSchenk. I added your fix for the jest-config package to the init generator until it’s fixed in stencil side.

[2021-11-09 16:56] #340 closed

[2021-11-10 10:53] #303 closed

[2021-11-12 14:55] MichaelSeelisch commented on #308
Hey @DominikPieper,
thanks a lot for the fast reply.

Now i have another question:
Is it possible to change the templates used by the generators? I made several changes in the templates for app and component, but i had to change the files in the node_modules folder. Of course all my changes would be lost in case of package update and it would be a much cleaner solution if i could reference custom

[2021-11-12 15:23] DominikPieper commented on #308
Hi @MichaelSeelisch,
There's no feature to give in custom Templates. You can add workspace generators (https://nx.dev/l/a/generators/workspace-generators) to your workspace, call the generators you've in mind, and override the templates there.

[2021-11-12 15:29] MichaelSeelisch commented on #308
Hey @DominikPieper,
thanks for your ultra-fast reply and the hint for generators.

[2021-11-23 21:57] trumbitta opened #343 "Svelte: dependency on @angular-devkit/schematics"
**Describe the bug**

The application generator (didn't try the other ones) depends on `@angular-devkit/schematics` and it fails if it's not installed.

**To Reproduce**
Steps to reproduce the behavior:

- Create a empty Nx workspace (this makes it easy on Gitpod: https://github.com/trumbitta/gitpod-nx)
- Install the plugin
- Try to generate a new application

**Expected behavior**

I'd expect the

[2021-11-24 05:49] DominikPieper commented on #343
Yes, that are some old dependencies from post devkit 😅

[2021-11-24 05:57] DominikPieper commented on #343
I do some refactorings since a few days, hopefully all Angular devkit dependencies are away after that

[2021-11-24 18:26] johnwalshuk opened #345 "Typescript import from lib fails"
**Describe the bug**
I've got a svelte app, and a few svelte libraries that are written in typescript.

I've got a UI library and a DATA library. MY UI library tends to just be `.svelte` files whereas data tends to just be `.ts` files for example my stores, and models.

When i import my ui svelte files (with lang="ts") they import perfectly fine, whereas if I try to import a store i get the follow

[2021-11-26 13:38] DominikPieper commented on #343
There was an old type from Nx which used @angular-devkit. 13.0.3 should fix this

[2021-11-29 14:46] #343 closed

[2021-11-29 20:34] kurtinatlanta commented on #343
The stencil side has the same problem. If i try to run `nx g @nxext/stencil:lib my-lib`, it fails with `Cannot find module '@angular-devkit/schematics'`.

[2021-11-30 21:01] DominikPieper commented on #198
@FrancoisDF @nrwl/web now supports rollup 2 ootb and I'm working on a bigger refactoring to get rid of the own executors completely in favor of the nrwl one.

[2021-12-01 13:47] Jordan-Hall opened #357 "Vite: Add project generators for vite"
**Is your feature request related to a problem? Please describe.**
Currently, you can't create standard web projects without any framework. The only solution is to use @nrwl/web which isn't ideal. We should make vite the default build where possible, to replace the need for @nrwl/web in a nxext solution.

@DominikPieper  I was thinking for the first version, I just port over my existing generator

[2021-12-01 13:59] Jordan-Hall commented on #198
Maybe we move this to vite library bundle. I'll need to write some unit test and make sure it's 100% there. But it does the package.json, need to check d.ts file

[2021-12-01 14:04] DominikPieper commented on #357
I think about removing the rollup bundle completely as well. The vite based solution is much easier and faster. Through the vite.config.js the configuration doesn't need any parameter except the vite config itself and I think that's a great solution

[2021-12-02 13:17] DominikPieper opened #360 "Svelte: Remove Rollup based builds in favor of Vite based builds"
**Describe the solution you'd like**
The Rollup based executors will be removed and the whole toolchain will use @nxext/vite to build and package.

[2021-12-04 18:27] #357 closed

[2021-12-05 23:36] Jordan-Hall opened #370 "Solid: unable to generate application"
**Describe the bug**

Issue when generating solidjs application from

[code]

**To Reproduce**

Steps to reproduce the behaviour:

1. npx create-nx-workspace --preset=empty
2. npm install @nxext/solid --save-dev
3. npx nx format
4. npx nx g @nxext/solid:init
5. npx nx g @nxext/solid:app

**Expected behaviour**
Application should generate the app.

**Additional context**
First issue I notice was cr

[2021-12-05 23:36] Jordan-Hall commented on #370
@kristianmandrup  Are you able to take a look at this issue?

[2021-12-06 01:18] Jordan-Hall opened #373 "Vite: Not reading tsconfig"
I'm currently debugging this but making note. TS config not being read on serve or build. Paths not allowed

[2021-12-06 02:54] DominikPieper commented on #370
This usually means you import something from eg @nrwl/workspace which comes originally from @angular-devkit. ProjectType is ac example here

[2021-12-06 07:44] Jordan-Hall commented on #370
Yea it imports workspace. Maybe add it to devpendcey then

[2021-12-06 07:56] DominikPieper commented on #370
Unfortunately not all imports from @nrwl/workspace need @angular-devkit. There are just a few, e.g. ProjectType cause that's a reexport from @angular-devkit

[2021-12-06 20:12] jase88 opened #375 "Stencil: Adding output targets requires all framework targets (angular, react vue) to be installed"
**Describe the bug**
If adding an output target to a library all supported output targets need to be installed. This is probably how the nxext code is implemented, so that it requires to have everything installed.

**To Reproduce**
- create a new stencil library (`nx g @nxext/stencil:lib web-components --buildable=true --style=scss`) within an Angular workspace
- add output target for angular for

[2021-12-08 08:14] DominikPieper commented on #375
@jase88 yes that's something I already working on.

[2021-12-14 00:30] bigfish opened #377 "Stencil: adding output target fails with error 'Required property importPath is missing'"
**Describe the bug**
'@nxext/stencil:add-outputtarget mylib' fails with error

✔ Which framework do you use? · react
Please use a buildable library for custom outputtargets

You could make this library buildable with:

nx generate @nxext/stencil:make-lib-buildable web-components
or
ng generate @nxext/stencil:make-lib-buildable web-components

✔ Which stylesheet format would you like to use? · css

[2021-12-14 07:35] DominikPieper commented on #377
@bigfish Good morning, seems like the printed example needs to get an addition. What's failing here is what the message says. For Buildable libs you need to set the importPath. so just add --importPath='@myws/web-components' or whatever the path should be

[2021-12-14 08:29] GeofoxCoding opened #380 "Stencil: Angular output taget doesn't contain anything, component not found"
Hi,
I've tried to follow the online resources I've found to get a minimalistic nx Angular example working with a stencil web component. But the official nxext doumentation only lists commands but not how they are intended to use in a simple scenario.

**To Reproduce**
I have latest nx angular workspace with an Angular app and a builable Angular library containing a single Angular component which i

[2021-12-14 12:23] DominikPieper commented on #380
Hey @GeofoxCoding,

how did your stencil.config.ts look like? There should be a 'generated' folder in your angular lib with a proxies.ts file containing the angular proxies

[2021-12-14 17:26] #360 closed

[2021-12-14 20:34] Jordan-Hall commented on #373
#376 resolved this issue

[2021-12-14 20:34] #373 closed

[2021-12-14 22:03] chrisolsen opened #383 "Svelte: unable to install the svelte lib"
I am getting dependency issues when trying to install the svelte extension. I did an `nx migrate` to ensure that there were no outdated libs that would cause any issues, but after running `npm install @nxext/svelte --save` I get the following.

[code]
If I bump the babel version up a bit, it is just another lib that has the same problem, rinse and repeat.

[2021-12-15 06:25] DominikPieper commented on #383
Hey, what’s the Nx workspace version you use? How did you initialized the workspace?

[2021-12-15 11:06] GeofoxCoding commented on #380
Hello @DominikPieper,

unfortunately no. First my generated stencil config file:

`import { Config } from '@stencil/core';

import { sass } from '@stencil/sass';

const angularValueAccessorBindings: ValueAccessorConfig[] = [];

import {
  angularOutputTarget,
  ValueAccessorConfig,
} from '@stencil/angular-output-target';

export const config: Config = {
  namespace: 'web-components',
  taskQueue:

[2021-12-15 11:18] DominikPieper commented on #380
@GeofoxCoding I agree with the relative path. Probably I have to take a look at the path generation here again, but it should be correct. It should generate the proxies file into 'libs/web-components-angular/src/generated/directives/'.

The Version is right. Cause there's no better way to match it, the major version have to match So Nx 12 -> Nxext 12, Nx 13 -> Nxext 13, and so on.

Did you added t

[2021-12-15 11:27] GeofoxCoding commented on #380
Hi @DominikPieper,

I did it once again a few seconds ago. Still the same, both libs are generated but inside the -angular lib I don't get a "generated" folder.

I will add the loader. What is the purpose of this loader import?

Thank you so much for your effort! Great work!

[2021-12-15 11:32] DominikPieper commented on #380
The Loader is generated by Stencil and is something like a startup script for the components. To register them and make them known to the browser.

Are you on Windows or Mac?

Danke und immer gern.

[2021-12-15 12:41] GeofoxCoding commented on #380
I'm on a Windows  Server 2019 virtual machine.

[2021-12-15 12:44] DominikPieper commented on #380
I'll add some e2e tests later to see what my windows worker node says. Unfortunately, I don't have any windows machines here to test

[2021-12-15 14:11] OneWinged-Eagle opened #387 "Svelte: external module error when building"
**Describe the bug**
When I serve/build my Svelte web application, I get a rollup error like so `No name was provided for external module 'svelte' in output.globals – guessing 'svelte'`.
I was using Axios and got the same error (`No name was provided for external module 'axios' in output.globals – guessing 'axios'`) but I replaced it with the basic fetch.

**To Reproduce**
After installing the nxe

[2021-12-15 14:52] chrisolsen commented on #383
I am using the latest (13.3.4). Someone before me did the initialization so I can't really answer that question, but based on the git commit when it was created it seems like they used the standard `npx create-nx-workspace` command.

[2021-12-16 11:45] DominikPieper commented on #387
@OneWinged-Eagle the new vite based version is deployed

[2021-12-17 16:09] chrisolsen commented on #383
After I reverted back to npm v6.14.12 from v8.x.x the issue no longer exists.

[2021-12-17 16:28] DominikPieper commented on #383
Mhh maybe some incompatibility by npm? I'm not sure how to tackle this ^^'

[2021-12-21 01:00] aldovelasco-acme commented on #370
I'm seeing the same issue with a Stencil based library and an empty Nx preset.

[code]

Error when running nx serve [libraryname]
[code]

[2021-12-21 01:34] Jordan-Hall commented on #370
Will work on a fix when I'm back feeling well. For now add it as a dev dependency and it will work fine

[2021-12-21 03:45] DominikPieper commented on #370
@Jordan-Hall  should be already fixed and will be rolled out with the next release

[2021-12-22 22:20] #383 closed

[2021-12-22 22:36] chrisolsen opened #403 "Svelte: where to set customElement attribute"
**Describe the bug**
The current svelte generator doesn't provide a clear way to perform a build using the `customElement` flag set to `true`.

`nx run web-components:build` performs a build, but doesn't take into account the `<svelte:options tag="my-wc" /> to output a compiled web component. I have tried passing a close equiv to my previous working rollup.config.js file to the `--configFile` para

[2021-12-23 04:17] DominikPieper commented on #403
I’ll take a look later but tbh I never tried the custom element option with svelte

[2021-12-23 12:59] DominikPieper commented on #403
@chrisolsen You need to define a vite.config.ts with:
'''
import { defineConfig } from 'vite';
import { svelte } from '@sveltejs/vite-plugin-svelte';

// https://vitejs.dev/config/
export default defineConfig({
  plugins: [
    svelte({
      compilerOptions: {
        customElement: true,
      },
    }),
  ],
});
'''

and point the configFile option in project.json to it, like:
"configFile": "ap

[2021-12-23 13:06] Jordan-Hall commented on #403
@DominikPieper maybe we create a schematic to add local vite config

[2021-12-23 13:08] DominikPieper commented on #403
@Jordan-Hall already started that :-P Something like the "eject" from the angular cli

[2021-12-23 13:10] Jordan-Hall commented on #403
Don't need to be eject. If you look at the code. I make it keep the base config

[2021-12-23 13:34] DominikPieper commented on #403
I meant I’d just create a config exactly like the normal svelte one and set the path. After that works like before and the user is able to change it

[2021-12-23 13:58] chrisolsen commented on #403
@DominikPieper I guess I wasn't super clear, but what you suggested is kinda what I did, but I passed the path to the vite.config.js file to the nx command and that is what resulted in the typescript error which lead me to think that maybe I need to include the rollup typescript plugin as well (snippet 2), but that results in the same error output.

You said that I can also specify the confiFile o

[2021-12-23 15:08] DominikPieper commented on #403
Depending how the workspace is generated there’s a workspace.json with the project configuration in the workspace root or in addition a project.json in your project directory. There die alle to set the configFile option.
Another thing to test, could you remove the „./„ from the path? I’m not sure but that could probably disturb the path generation

[2021-12-23 16:03] chrisolsen commented on #403
I set the `configFile` property in the workspace.json file
![image](https://user-images.githubusercontent.com/41582/147260409-653f6c66-a3c0-4245-b7c7-f5745ec957be.png)

With the following, the build task runs successfully, but results in a **non**-webcomponent build
[code]

Once I add svelte, it breaks
[code]

[code]

If I add typescript to the plugins
[code]

I still get what I did before
[code]

[2021-12-23 16:20] DominikPieper commented on #403
Mh damn. I’ll take a deeper look into this

[2021-12-23 18:42] Jordan-Hall commented on #403
I think configfile should just be vite.config.ts because root is actually the app/lib project folder and not git root

[2021-12-23 19:05] chrisolsen commented on #403
@Jordan-Hall If I set the `configFile` attribute within the `workspace.json` file and run `npx nx build web-components` it is unable to resolve the path name. Is this what you meant?
[code]

[2021-12-24 22:06] eglove commented on #377
Thank you @DominikPieper to be clear, the following command works:

`nx g @nxext/stencil:make-lib-buildable --importPath='@companyName/web-components`

[2021-12-24 22:08] oscar-marion opened #404 "Svelte: files in the public directory are served at the root path"
**Describe the bug**
The default index.html template uses the `/public/global.css` and `/public/favicon.ico` paths to link respectively the app css and favicon. When serving the app, we get the following warning in the CLI:

[code]

**To Reproduce**

1. `npm i -D @nxext/svelte --legacy-peer-deps`
2. `nx g @nxext/svelte:app svelte-app`

**Expected behavior**
No warning about static files.

[2021-12-24 22:13] eglove opened #405 "Stencil: Build fails, (0 , workspace_1.readJsonFile) is not a function"
**Describe the bug**
I can not build a Stencil library immediately after creating it. It fails with the following error:

[code]

**To Reproduce**

`nx g @nxext/stencil:library web-components`

`nx g @nxext/stencil:make-lib-buildable --importPath='@companyName/web-components' web-components`

**Expected behavior**

Build files are generated in dist/packages/web-components of Nx repo.

**Additional

[2021-12-24 22:20] DominikPieper commented on #405
@eglove hi, thanks for the issue. Looks like with Nx 13.4 the function was removed 😅 I’ll take a look the next days

[2021-12-24 22:26] eglove commented on #405
Ok, yes, there are a lot of changes between 13.4 and 13.3 unfortunately. The directory structure of generation even changes.

I have another project running on 13.3.6, I'll see if I can move this one to that.

[2021-12-25 00:10] eglove commented on #405
@DominikPieper I moved @nrwl/workspace back to 13.3.12 to get past this issue. However, there still seems to be a misconfiguration between Rollup and TypeScript when running the build on the dev server.

[code]

[code]

I tried using @rollup/plugin-typescript and adding this to stencil.config.ts

[code]

No luck. Is there another workaround for this?

[2021-12-26 07:21] pranav-js commented on #405
is there any way to fix this on latest nx? I just migrated angular project to nx fresh and now added stencil library :(, don't want to downgrade.

[2021-12-26 09:12] DominikPieper commented on #405
@pranav-js not that easy unfortunately. The error just came up with the latest version two days ago and I don’t make it until after Christmas to fix it

[2021-12-26 10:39] pranav-js commented on #405
@DominikPieper no worries. for now downgraded workspace package only. enjoy ur xmas holidays :)

[2021-12-27 09:34] #404 closed

[2021-12-27 09:35] Jordan-Hall commented on #404
Thank you for the contribution :)

[2021-12-29 19:38] yamiteru commented on #370
@DominikPieper Can you release the new version already?

[2021-12-30 07:54] #405 closed

[2021-12-30 07:56] DominikPieper commented on #370
@yamiteru did it right now

[2022-01-03 12:13] LoriKarikari opened #415 "React: Unable to resolve @nxext/react:app"
**Describe the bug**
When I try to create a new React app or library, I am getting the following error:
[code]

**To Reproduce**
I followed the installation steps from the [docs](https://nxext.dev/docs/react/installation) with NX version `13.4.2`:

[code]

[code]

[code]

**Expected behavior**
A new React library or app is created.

[2022-01-03 13:31] eglove commented on #415
Nxext doesn't have a React extension, nor is it needed. Try the official @nrwl/react.

[2022-01-03 15:24] LoriKarikari commented on #415
@eglove according to the [Nxext docs](https://nxext.dev/docs/react/overview)  they provide a React with Vite alternative to the official extension. I am already using the official one and want to switch from Webpack to Vite.

[2022-01-03 16:32] Jordan-Hall commented on #415
We do have React plugin, as Nxext is the vite drop in replacement to Nrwl NX.  Nrwl is based on webpack as we aim to be vite base.

[2022-01-03 16:34] Jordan-Hall commented on #415
@LoriKarikari  I'll take a look tonight at why this has stopped working. NX done some structural change and I've recently matched the changes. Seems like something gone wrong with this plugin

[2022-01-03 16:53] LoriKarikari commented on #415
@Jordan-Hall tyvm!

[2022-01-03 20:54] Jordan-Hall commented on #415
@DominikPieper looks like its just not being included in the bundle :/ can you fix this as part of the CI

[2022-01-04 05:51] pranav-js commented on #380
for me it is working fine with latest version. purpose of loader is to defineCustomElement  for browser to know incoming tag is web component, very much similarly to what react loader does

[2022-01-04 06:09] pranav-js opened #416 "<Stencil | Svelte | Sveltekit | Solid | Vite>: <your title>"
**Describe the bug**
Storybook generated config doesn't work with Stencil buildable library.

**To Reproduce**
Setup latest nx with stencil library. make library buildable.  add storybook config and run command

**Expected behavior**
generated config should work without error

**Additional context**
What happens is below output
[code]

**Additional context**
I tried deleting nodemodules, package.l

[2022-01-04 06:14] pranav-js commented on #416
found the fix

now legacy peer deps don't work.

[code]

run this command and it started working

[2022-01-04 06:14] pranav-js commented on #416
I will put a PR for this in coming days.

[2022-01-04 06:37] pranav-js commented on #416
please consider adding typescript support

[2022-01-04 14:32] DominikPieper commented on #416
@pranav-js  hard to tell if it’s possible to add ts support. Wasn’t able to make it work work ts that’s why js files are the default yet. That was the default example I got for stencil and storybook from the storybook issue about stencil. Maybe it’s easier once the official stencil storybook plugin is ready

[2022-01-04 20:04] jiriKralovec opened #417 "<Stencil>: Build of new project fails"
**Describe the bug**
When running a build on fresh Stencil project, the build fails with this error:

[code]

`nx report` output:

[code]

**To Reproduce**
1. Create new NX workspace using `npx create-nx-workspace {{name}}`
2. Create new Stencil project using `nx g @nxext/stencil:app mobile-app --style=scss`
3. Run build using `nx build {{name}} --verbose`

**Expected behavior**
It is expected tha

[2022-01-04 20:10] DominikPieper commented on #417
Could you add the output of: nx report?

[2022-01-04 20:14] jiriKralovec commented on #417
Added

[2022-01-04 22:05] eglove commented on #417
I updated to @nxext/stencil^13.1.1 last night, it's working and building fine with 13.4.2.

I haven't readded back the extension of tsconfig.base.json [as I mentioned here](https://github.com/nxext/nx-extensions/issues/405#issuecomment-1000949864). But that was a different issue.

[2022-01-05 05:17] pranav-js commented on #416
@DominikPieper  oh okay. is anyone building such plugin already?

[2022-01-05 07:03] DominikPieper commented on #416
@pranav-js as far as I know the Storybook Team and the Stencil Team are already talking about how to make it happen

[2022-01-05 07:07] DominikPieper commented on #417
@eglove usually the peer dependencies show what version is needed. For @nxext/stencil 13.1.x it's Nx 13.4.x. Unfortunately, they moved e.g. writeJsonFile. After that, it won't work anymore at needs to be changed. ^^'

[2022-01-05 09:45] DominikPieper commented on #417
@jiriKralovec did you use the latest version of @nxext/stencil? 13.1.x should work with Nx 13.4. They did some breaking changes

[2022-01-05 09:47] DominikPieper commented on #415
Could you all test the latest release? Should be fixed now :-)

[2022-01-05 09:50] Bonscho commented on #308
Any news on this? Not being able to change a library and directly have the changes in an app that consumes the library without rebuilding both – library and app – is neither fail safe nor comfortable.

Maybe someone can provide some kind of workaround?

[2022-01-05 09:58] #415 closed

[2022-01-05 10:16] DominikPieper commented on #416
@pranav-js I tried it and in my experiment works like expected. Did you do a build before you run the storybook command? Unfortunately that's needed with how it's integrated right now ^^'

[2022-01-05 10:19] DominikPieper commented on #416
I'll try some things to smooth this a little bit but unfortunately, it'll be more difficult than the native integrations anyway.

[2022-01-05 10:20] pranav-js commented on #416
@DominikPieper yes I had build. I was serving dev build on one side and storybook on another. I had to explicitly install html-webpack-plugin though cause I am using node 16 and using --lgeacy-deps-peer it doesn't really install that 😃

[2022-01-05 10:24] DominikPieper commented on #416
Mh, I'm on 16.13.1. I'll do some experiments. It was working for me without adding something with legacy peer deps ^^' I'll take a look into it a little but I'm really limited on what I'm able to do here. I just install the packages and create some configs. If there are some incompatibilities with the storybook packages I fear that I don't have many ways to fix it ^^'

[2022-01-05 10:54] DominikPieper commented on #308
@Bonscho unfortunately not yet. Not sure when and how it's planned by the new Stencil team. I experiment with some stuff myself but everything else is just a workaround until it's natively supported and I'm not sure how easy it is to create it from external

[2022-01-05 11:35] jiriKralovec commented on #417
@DominikPieper The latest patch version `13.1.2` seems to be working with Nx `13.4.3`. Thanks for swift response!

[2022-01-05 11:35] #417 closed

[2022-01-05 12:08] DominikPieper commented on #345
@johnwalshuk Hey, could you try with the new Vite-based builds?

[2022-01-05 13:19] eglove commented on #417
Peer dependencies that can be taken seriously? Ha

It is specifically nxext/stencil 13.1.0 that has an issue with nrwl/workspace 13.4.x. Recent updates have fixed it.

[2022-01-05 13:26] DominikPieper commented on #417
@eglove It's hard to find a versioning schema that covers the Nx compatibility and own changes ^^' even more since there are breaking changes in Nx minor versions.

[2022-01-05 13:27] #377 closed

[2022-01-05 13:28] #339 closed

[2022-01-05 20:46] chrisolsen opened #420 "Svelte - Unable to import library in other libs"
## Current Behavior

The issues that I am having on with an existing lib were easily replicated with a new library using only the `generate` command below.

FYI: The svelte library is generating web components, which is the reason for the import in the react project.

## Expected Behavior

Create a shared library

## Steps to Reproduce

[code]

React component
[code]

[code]
![image](https://user-

[2022-01-07 20:55] chrisolsen commented on #403
The issue was fixed by
- removing the vite.config.ts file and setting the `customElement` in the svelte.config.js file via the following
[code]
- changing the web component nx library package.json `"type": "module"` (This was probably only required since I changed the svelte.config.cjs to a .js file)
- I also had to change project root tsconfig.base.json file's path attributed to allow for the `ab

[2022-01-07 20:58] #420 closed

[2022-01-08 17:09] Suyashtnt opened #422 "Sveltekit: publish latest version"
**Describe the bug**
The latest sveltekit version isnt published to npm

**To Reproduce**
yarn install @nxext/sveltekit
see that it installs an old version

**Expected behavior**
npm to install `13.0.0-next.01`

**Additional context**
Not really a bug report

[2022-01-09 22:16] LoriKarikari commented on #415
@DominikPieper it works now! Ty 😊

[2022-01-10 09:05] Bonscho commented on #308
@DominikPieper sad to read. If we can support this topic with some real world experience, please let us (@MichaelSeelisch and me) know. Would be great to make nx work with (nested) stencil libraries.

[2022-01-10 10:07] johnwalshuk commented on #345
Great that worked, thanks!

[2022-01-10 10:07] #345 closed

[2022-01-11 06:25] #387 closed

[2022-01-11 13:30] DominikPieper commented on #422
Published

[2022-01-11 18:18] #422 closed

[2022-01-12 09:06] #370 closed

[2022-01-12 15:25] CptnAngular commented on #380
Hi @DominikPieper,

for me it's still the same under nrwl/cli 13.4.4 and nxext/stencil  13.1.2. I don't get a generated folder. Could you pls list the most basic cli commands to create an nx angular workspace with stencil component. I would like to reproduce your workflow on my windows system to make sure I'm not doing something wrong.

@pranav-js
The problem for me is that I don't get generated f

[2022-01-12 15:29] pranav-js commented on #380
@CptnAngular  you must be missing some path configuration. I wrote a very detailed step by step blog for angular integration. check if you missed anything.
https://pranavsarda.hashnode.dev/stenciljs-with-angular-app-directly

[2022-01-13 08:19] pranav-js commented on #380
@CptnAngular  show your stencil.config.ts

[2022-01-13 08:20] DominikPieper commented on #380
@CptnAngular can you show your stencil.config.ts?

[2022-01-13 08:21] pranav-js commented on #380
I didn't check commands really. used Nx Console UI directly

[2022-01-13 08:23] DominikPieper commented on #380
I try to break this problem down, seems like a windows problem. I added some e2e tests for that and was able to see it. Now I take a look at how to take this down.

[2022-01-13 08:24] pranav-js commented on #380
makes sense. I am using mac lol

[2022-01-13 08:26] DominikPieper commented on #380
@pranav-js same here. That's why I struggle to break it down. No windows at all ^^'
Could be a path problem maybe. Had a lot of path issues with windows and stencil ^

[2022-01-13 09:24] CptnAngular commented on #380
It's working for me now but give me some time to figure out what exactly I was missing.

[2022-01-13 13:43] CptnAngular commented on #380
It was simply a problem with the order of my commands (and no matter if via nx gui or cli !).

Inside fresh Angular workspace I did:
1. Create stencil lib
2. Make lib buildable
3. Do build => **this way I don't get generated folder**
4. Add Angular output-targets

But it had to be:
1. Create stencil lib
2. Make lib buildable
3. Add Angular output-targets
4. Do build

Now I understand that I first

[2022-01-13 13:56] DominikPieper commented on #380
@CptnAngular yes that makes sense. The add-outputtarget generator just adds the configuration into the stencil config and prepares the target library with angular/react. The generation itself is a Stencil mechanism. :-)

[2022-01-13 14:08] hirviid opened #425 "React: Could not resolve @nxext/vite/plugins/vite-package"
**Describe the bug**

When trying to build a react application which imports a react lib generated with @nxext/react:lib I get an error :
[code]

Versions:
[code]

**To Reproduce**
1. Create an application: `nx g @nxext/react:app my-app`
2. Create a lib: `nx g @nxext/react:lib my-lib`
3. Import the lib in the app `import { MyLib} from '@proj/libs/my-lib'`
4. Build the app: `yarn build my-app`

**A

[2022-01-17 06:40] deprecat3d opened #431 "Stencil: Angular output target not including components"
**Describe the bug**
I created a default stencil library and add angular output target. When I serve my stencil library a generated folder is created in folder of output target. I think that's expected but this generated folder not contain my component in <libname>-angular.module.ts provided. These components are in proxies.ts file. Is this the expected behavior? How can i render this components?

[2022-01-17 07:35] DominikPieper commented on #431
Yes, that's the default here. The component generation is handled by the stencil outputarget and I create the empty Angular library for easier setup. Unfortunately, you've to add and export the generated Components into the library module yourself.
Like e.g. here https://github.com/nxext/nxext-demo/blob/main/libs/core-angular/src/lib/core-angular.module.ts

[2022-01-17 10:34] #431 closed

[2022-01-17 11:38] deprecat3d commented on #431
Thank you @DominikPieper. Components now rendering as well.
I closed this issue but if you could help me one more time: the style of component not be applied in microfrontend. Any reason? I missed something?

[2022-01-22 09:53] codef0rmerz opened #435 "Has vue support removed?"
I can see [the output type to be vue](https://nxext.dev/docs/stencil/generators/add-outputtarget) while running`add-outputtarget` command but it throws `Property 'outputType' does not match the schema. 'vue' should be one of angular,react.`

[code]

Is it possible?

P.S.:
@nxext/stencil: "^13.1.2
@stencil/vue-output-target: "^0.6.0"

[2022-01-22 10:19] DominikPieper commented on #435
I removed the vue support temporarily because the nx vue plugin wasn’t able to run wir latest Nx

[2022-01-22 16:15] codef0rmerz commented on #435
For me the vue app is not getting generated with Nx 13 but I managed to generate a StecilJS proxy for Vue by adding following to `stencil.config.js`

[code]

So the only problem is that I can not use this proxied component in a Vue app in the same workspace. I'll have to create a Vue app separately to test it.

[2022-01-22 16:15] #435 closed

[2022-01-22 16:36] DominikPieper commented on #435
Did the vue plugin works for you? I tried it lately and wasn’t able to use it with latest Nx

[2022-01-23 07:10] codef0rmerz commented on #435
@DominikPieper Nope, could not create vue-app but vue proxy components are getting generated with above output target.

[2022-01-25 10:46] DominikPieper commented on #198
Done the transition to vite

[2022-01-25 10:46] #198 closed

[2022-01-25 10:47] DominikPieper commented on #309
Today Stencil 2.13 came out with support for jest 27

[2022-01-26 15:07] scorsi opened #441 "Sveltekit: svelte-add is not working"
**Describe the bug**
When running `nx add {sveltekit-app} --package {package}` it fails with error.

**To Reproduce**
Steps to reproduce the behavior:
I simply create a new project with sveltekit plugin:
[code]

**Expected behavior**
Should work :)

**Additional context**
[code]

[2022-01-27 05:18] EliRobinson opened #445 "Failed to resolve entry for package error"
### Discussed in https://github.com/nxext/nx-extensions/discussions/440

<div type='discussions-op-text'>

<sup>Originally posted by **EliRobinson** January 25, 2022</sup>
I'm running into a weird issue.

I get this error when I run build on one of my libs.

```[vite:resolve] Failed to resolve entry for package "@arrived/common". The package may have incorrect main/module/exports specified in its

[2022-01-27 06:59] DominikPieper commented on #445
Good morning. First question, what plugin are you using? Plain vite? Svelte? React? I’m not able to see that from the error. The vite config could be interesting as well

[2022-01-27 07:18] EliRobinson commented on #445
Using this npm package `"@nxext/vite": "^13.1.3",`.

Running this generator: `@nxext/vite:package`

I don't have a vite config for this library. If I'm bundling a bunch of react components, do I need to use a specialized react version of the above generator?

For reference, it's hitting this piece of code and throwing the exception:
https://github.com/vitejs/vite/blob/fb7ba5353bb35d41f2ec2c90b6b8e

[2022-01-27 07:20] EliRobinson commented on #445
My goal is to create 4 different bundled libs (some consume each other) so they can be used a standalone imports for 3 different apps. A React CRA app, a React Native app, and a NextJS app. I'm breaking sharable code into these bundled libs.

[2022-01-27 08:08] DominikPieper commented on #445
@EliRobinson for React we have @nxext/react. It does that, creates a react lib or app with a vite config. For React Vite needs the react vite plugin. You could create a config yourself and use the plugin or use the bundled from our react package. Without any plugins Vite isn't capable to process React

[2022-01-27 22:57] EliRobinson commented on #445
Ok, @DominikPieper - I'll try creating a generated test-lib and see what the config looks like and how it differs from what I've got. I'll post my findings here.

[2022-01-28 00:00] EliRobinson commented on #445
Ok that seems to have to worked!! I can't tell you how much time is wasted only to try your recommendation and 15 min later it's magic... You are a wizard...

Here's the main differences for reference:
[code]

[code]

instead of

[2022-01-28 05:14] #445 closed

[2022-01-28 14:48] DominikPieper commented on #308
@Bonscho all I tried so far lead into a reload off all (at least the lib and app) cause what's the app serve process sees is that the lib was rebuilt. The stencil compiler unfortunately isn't able to do hmr with dependent libs/components. There's a branch from a community member but nothing ready to use yet

[2022-01-28 17:02] ebrehault opened #449 "Svelte: cypress e2e does not start"
**Describe the bug**
When running the e2e tests for a Svelte app, the Svelte dev serve starts, but Cypress does not, so no tests are executed.

It feels like the Vite dev server launched by `@nxext/vite` is not returning anything, while `@nrwl/cypress` is actually awaiting for a promise to be resolved or something.

Note: I haven't seen anything suspicious in the recent changes in `packages/vite/s

[2022-02-02 11:00] #449 closed

[2022-02-05 01:26] Lcarv20 opened #452 "Svelte: Can't create app with cypress as e2eTestRunner"
**Describe the bug:**
Creating svelte app is not working if I have cypress as e2eTestRunner.
**To Reproduce:**
`
npm I @nxext/svelte
nx generate @nxext/svelte:application
`
<img width="1012" alt="Screenshot 2022-02-05 at 02 18 23" src="https://user-images.githubusercontent.com/42584819/152623307-9419c8ea-d8ee-44ce-9663-3a64090d5b92.png">
**Expected behavior**
It would be expected to create the app

[2022-02-05 06:17] DominikPieper commented on #452
Hey, yea sorry the next release will fix it. The function signature changed with 13.7

[2022-02-08 16:53] DominikPieper commented on #452
Should be fixed with the latest release

[2022-02-08 16:53] #452 closed

[2022-02-09 09:16] DominikPieper commented on #441
Hey, sorry for the delay. I'll try to fix it soon. Unfortunately, Sveeltekit didn't get much love for some time. Now where it's nearer to the 1.0 I hope the API stays more stable. Unfortunately, the Sveltekit CLI doesn't give a lot of possibilities to manipulate e.g. the output folder to match the Nx folder scheme and that makes the integration at all really hard

[2022-02-09 14:41] #425 closed

[2022-02-10 00:09] scorsi commented on #441
I understand ! To be honest I left NX to have a old styled monorepo.
I run into too much issues with SvelteKit and Firebase inside NX... Will let a look at your extensions ;)

[2022-02-16 18:19] fatihdogmus opened #489 "Angular: Can't take an interface as @Input to a component"
**Describe the bug**
When you take an interface as input to a component, it doesn't load the application and gives the following error: "Uncaught SyntaxError: The requested module '/src/app/File.ts' does not provide an export named 'InterfaceName'
I've not created the project with the generator, but instead, added it to an existing application, since this is our use case for our real application.

[2022-02-16 20:47] Jordan-Hall commented on #489
Hey @fatihdogmus this is strange. Taking a look now now to see how it should be handled. It looks like an issue at SWC layer but need to keep checking

[2022-02-16 21:14] Jordan-Hall commented on #489
Bug filed with SWC to see what the best solution will be. Maybe we do what I was thinking all along and transfer interfaces in classes and throw a not implemented error. That way we could in theory use angular DI with interfaces.

https://github.com/swc-project/swc/issues/3601

[2022-02-17 06:45] fatihdogmus commented on #489
OK than you very much jordan. I will keep tinkering on project and see if i can get it working with our project after the issue is resolved.

[2022-02-18 08:28] hoermillerj opened #493 "Stencil: VS Code Debugger Breakpoints unbound"
**Describe the bug**
When attaching the VS Code Debugger to the running StencilJS App, all breakpoints are unbound.

**To Reproduce**
You can check-out my demo repository [https://github.com/hoermillerj/nx-stencil-demo](https://github.com/hoermillerj/nx-stencil-demo) and serve the StencilJS Component Library project "demo". After which you can run the VS Code Debugger with the launch.json configur

[2022-02-19 09:23] realityfilter opened #497 "<Vite>: generator uses wrong config parameter for Vite config file"
**Describe the bug**
The generator uses 'viteConfig' as configuration param instead of 'configFile'

See:
https://github.com/nxext/nx-extensions/blob/ca82905e2fddb0072dedff5757bb7ed983da8bae/packages/vite/src/generators/library/library.ts#L148

** Reproduce

nx g @nxext/vite:library testlib --buildable=true

Look at workspace.json it uses the wrong config param for vite.config

**Expected behavior

[2022-02-19 11:53] Jordan-Hall commented on #497
I'll make the changes tonight. We orignay had 3 config one being the base.

[2022-02-21 08:58] Jordan-Hall commented on #497
@realityfilter this fixed on next release. Added a migration script to fix the issue too

[2022-02-21 08:58] #497 closed

[2022-02-21 17:00] realityfilter opened #506 "Vite: Conflicting rxjs dependencies"
**Describe the bug**
There are conflicting dependencies for rxjs.

See https://github.com/nxext/nx-extensions/blob/9a00a1c23b79755f1da7def98d4da0bf1a7be4a0/packages/vite/package.json#L28-L29

rxjs-for-await@1.0.0 has a peerDependency { rxjs: '^7.0.0' }

**Expected behavior**
Upgrade to rxjs 7 as dependency.

[2022-02-22 01:31] Marr11317 commented on #441
The default output folder can be set with [`kit.vite.build.outputDir`](https://vitejs.dev/config/#build-outdir) (or something alike).

The output folder for packaging can be set with [`kit.package.dir`](https://kit.svelte.dev/docs/configuration#package) option.

That's not the cli, but it still provides the necessary options.

I'm currently using the sveltekit plugin, and it works perfectly. I sim

[2022-02-22 06:24] DominikPieper commented on #441
@Marr11317 oh great thank you. Seems I have to take a look at it again. I’ll release a new version soon and add your suggestion as well.

[2022-02-22 09:40] realityfilter opened #508 "Vite: Transitive dependencies are not resolved"
**Describe the bug**
Apps using libraries which are using other libraries are not resolved.

**To Reproduce**
A detailed bug report is filed for library `vite-tsconfig-paths`:
https://github.com/aleclarson/vite-tsconfig-paths/issues/47

Demo repository:
https://github.com/realityfilter/bug-transitive-deps

**Expected behavior**
`nx serve app` will successfully serve the app

In the meantime we are

[2022-02-22 11:06] #506 closed

[2022-02-22 15:03] Marr11317 commented on #441
Apparently, the value for `kit.vite.build.outDir` is controlled by svelte and cannot be customised. I'll open an issue.

[2022-02-23 04:20] swallace21 opened #515 "Svelte: generator error - puts everything in packages"
nx g @nxext/svelte:app my-app

Running the above command creates everything under packages.

Instead of apps

Thanks!

[2022-02-23 04:37] swallace21 commented on #515
I needed to create an nx workspace that supports apps first. ;)

npx create-nx-workspace --preset=empty

[2022-02-23 04:37] #515 closed

[2022-02-23 09:13] DominikPieper commented on #515
A good place to look here is the nx.json. You're able to configure the workspaceLayout there:

[code]

[2022-02-23 09:22] DominikPieper commented on #508
@realityfilter I saw your comment on the Bug report. You got it working with Nx I assume? The tsconfig.base.json is the default here so changig it could be hard ^^'

[2022-02-23 09:29] realityfilter commented on #508
- We are still having a symlink to tsconfig.base.json because of an older, unrelated bug.
- Setting the loose option of vite-tsconfig-paths together with the symlink solved this issue.
- We need our own vite.config.ts because of vue. So no problem for us.

But with the current nx setup transitive dependencies do not work out of the box, unfortunately.

[2022-02-23 09:33] DominikPieper commented on #508
I'll take a look at that later. Maybe it's possible to make it configurable on their side so we can set it to tsconfig.base.json

[2022-02-24 16:02] VincentThomas06 opened #519 "Vite: libs in nx repo does not work with vite"
**Describe the bug**
when i try to import a library in the nx repo (from `/libs` dir) it says the file does not exist. I imported it with compilerOptions.paths but i've also tried normal import

**To Reproduce**
Steps to reproduce the behavior:

* create a nx monorepo with `create-nx-workspace`
* create a vite react app with this plugin
* create a react library with the standart `@nrwl/react` comm

[2022-02-24 16:57] Jordan-Hall commented on #519
Can you put together a demo repo. I'll take a look at it.

[2022-02-25 08:15] VincentThomas06 commented on #519
I'll be able to do it in a few hours...

[2022-02-25 18:06] VincentThomas06 commented on #519
Here: https://github.com/VincentThomas06/issue-nxextensions

[2022-03-03 23:02] iAbhinav commented on #102
has anybody solved it yet?

[2022-03-04 08:28] DominikPieper commented on #102
@iAbhinav not really. I wasn't able to reproduce the error yet. Do you have an example repo I could look at? Maybe with node version and OS informations to reproduce?

[2022-03-06 11:37] Jordan-Hall opened #533 "Nxext Angular progress & known issues"
# This issue will remain open until Angular is out of Alpha.

### v13.0.0-alpha.1 Bugs introduced
- #489 Using interfaces on decorator properties
- Vite plugin tries to compile CSS as typescript
- HMR on HTML and css files
- no SCSS support

### v13.0.0-alpha.2 (Next release - https://github.com/nxext/nx-extensions/tree/package-angular)

Issues resolved from previous version:
- Vite plugin tries t

[2022-03-06 21:45] Jordan-Hall commented on #519
Hey @VincentThomas06  you are using ["nx-plugin-vite"](https://github.com/LinbuduLab/nx-plugins) which isn't our plugin. If you want to use ours it's @nxext/react/ .

If you need anymore help. I'm happy to help you.

[2022-03-06 21:45] #519 closed

[2022-03-06 22:35] VincentThomas06 commented on #519
Im so sorry opened an issue on the wrong repo 😂

[2022-03-06 22:56] Jordan-Hall commented on #519
No problem.  Happy to help send you the config you need for this one if you need it. It fully support nx libs

[2022-03-11 09:20] Jordan-Hall commented on #489
@fatihdogmus  the next version does have a work around. But you can do it now, if you upgrade @swc/core pacakage to the lastest. The use `import type {} ....` intead of `import {} ...` then it should work.

[2022-03-11 09:34] Jordan-Hall commented on #533
#489  example of how to use interfaces and decorators together

https://github.com/nxext/angular-vite-demo/blob/4a33b349a9dd0a2f5408ed21e98d78fdd4f68a9a/apps/demo/src/app/example.component.ts#L1-L10

Using import type will resolve the issue.

[2022-03-21 11:30] #309 closed

[2022-03-27 21:37] riceboyler opened #580 "Sveltekit: App generation does not work OOTB"
**Describe the bug**
After installing `@nxext/sveltekit@11.0.0-next.2, attempting to run `nx g @nxext/sveltekit:app <app_name>` will return an error:
`Cannot find module '@angular-devkit/schematics`.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a new empty NX workspace (in my case, with TS): `npx create-nx-workspace@latest <workspace-name>` and choose `ts` from the list of templa

[2022-03-27 23:08] #580 closed

[2022-03-28 21:29] Maximilianos commented on #508
I ran into this as well and have posted how I resolved it based on the notes in this thread and elsewhere in the following issue: https://github.com/aleclarson/vite-tsconfig-paths/issues/12#issuecomment-1081160667

[2022-03-31 20:10] GaryB432 opened #588 "Sveltekit: nx lint fails"
**Describe the bug**
command 'nx lint' on a brand new app gives this error

D:\Users\bf\apps\web\.svelte-kit\types\src\routes\index.d.ts
  0:0  error  Parsing error: "parserOptions.project" has been set for @typescript-eslint/parser.
The file does not match your project config: apps\web\.svelte-kit\types\src\routes\index.d.ts.
The file must be included in at least one of the projects provided

**T

[2022-04-03 15:14] mateuszlewko opened #591 "Sveltekit: main tsconfig.json should extend `.svelte-kit/tsconfig.json`"
**Describe the bug**
The main tsconfig generated for Sveltekit app extends workspace base tsconfig, while it should the one produced by svelte kit (in the `.svelte-kit/` directory). Running `nx build` for the generate sveltekit app prints a warning:

{
  "extends": "./.svelte-kit/tsconfig.json"
}

Also `svelte-kit build` won't be able to resolve any packages inside the nx workspace, since they're

[2022-04-04 04:22] Jordan-Hall commented on #591
While I've not been part of Svelte build. I do not believe this woukd work in a NX world. @DominikPieper correct me if I'm work. But this would defeat the object of NX. Nx has a single tsconfig for the whole application.

[2022-04-04 04:38] DominikPieper commented on #591
Unfortunately that’s a relative new change that sveltekit generates it. Seems like with every new sveltekit feature the integration is a little more broken and more difficult 😞

[2022-04-04 04:40] DominikPieper commented on #591
With Nx hardly need tsconfig for nearly all app and libs feature that’sa real hard Problem now. In addition to the other problems like not being able to configure outputdirs properly and aber and

[2022-04-04 17:20] edwardwilson commented on #375
This is still an issue - any update on a fix?

[2022-04-04 18:19] Jordan-Hall commented on #591
@DominikPieper let's talk on discord about this. I was thinking we could add option to drop tsconfig completely thanks to vite path. Happy to start work on this

[2022-04-04 18:37] DominikPieper commented on #591
@Jordan-Hall that won’t work on sveltekit cause there vite Usage is internally hidden in the sveltekit cli

[2022-04-04 18:38] dgonzalezr opened #593 "Stencil: why adding react output target depends on @angular-devkit/schematics?"
**Describe the bug**

Does it seem that somehow we are forced to have @angular dependencies when having nothing related to it 🤔

**To Reproduce**

1. Set up an Nx monorepo and add the `@nxext/stencil` plugin.
2. Generate a Stencil component library
3. Add the react output target to the Stencil library

**Expected behavior**
The react output target should be added without asking or depending on ang

[2022-04-04 18:50] Jordan-Hall commented on #591
Let's talk in discord, because we could avoid CLI and go internal commands. How Nx storybook works

[2022-04-05 10:26] pookdeveloper opened #594 "Stencil Storybook: No render the component"
I have built the stencil library, but doesn't render in stroybook

[code]

![image](https://user-images.githubusercontent.com/3384734/161734196-aa06555a-a30d-43d4-bb23-3f04c91318ef.png)

![image](https://user-images.githubusercontent.com/3384734/161733890-87623e69-47f8-42d5-8484-39b3cddb6e0e.png)

[2022-04-09 16:31] LuckeeDev opened #600 "Stencil: Cannot read properties of null (reading 'flags')"
**Describe the bug**
When I try to run `nx serve design`, I get this error in the console:
[code]

**To Reproduce**
Create a new NX repo with Stencil.

**Expected behavior**
The `serve` command should launch the app.

[2022-04-09 16:51] LuckeeDev commented on #600
Apparently, `loadConfig` from `@stencil/core/compiler` is returning `null` with the data it receives in the file `executors/stencil-runtime/stencil-config.ts`

[2022-04-11 07:09] DominikPieper commented on #600
Could you add the output of "nx report" and your stencil and project configs?

[2022-04-11 18:38] joshchagani opened #610 "React | Vitest: Have Vitest as the default testing framework with generated React apps"
It would be great to have React apps generated with Vitest instead of Jest, this would eliminate the need for Babel. Additionally, testing would be more accurate since you're not having to compile code prior to it being tested.
Installs, builds, and testing-speed would all use the power of ESM.

[2022-04-11 22:13] Jordan-Hall commented on #610
@joshchagani we are looking at vite test and how best to handle this. Some work been done, but also looking at Jest to Vite Migration

[2022-04-11 23:16] dapanasewicz opened #612 "React: can't define custom react plugin for vite.config.js"
**Describe the bug**
when creating a custom vite.config.js where
`plugins:[react({ babel: { plugins: [jotaiDebugLabel, jotaiReactRefresh] } })]`

it shows the following error:
`[@vitejs/plugin-react] You should stop using "vite:react-jsx" since this plugin conflicts with it.`

**To Reproduce**
- create custom vite.config.js
- set `plugins:[react({ babel: { plugins: [jotaiDebugLabel, jotaiReactRefr

[2022-04-19 00:44] airtonix opened #629 "Vite configFile is not a thing anymore (or ever was)"
**Describe the bug**
my apps vite.config.ts never gets used.

- https://github.com/airtonix/vscode-graphiql/issues/1
- https://github.com/airtonix/vscode-graphiql/tree/1-nxextvite-never-uses-viteconfigts

**To Reproduce**
Steps to reproduce the behavior:
- clone
- have asdf, asdf-pnpm asdf-nodejs, asdf-just
- pnpm i
- put some console logs in the `@nxext/vite/src/executors/build/executor.ts` @ lin

[2022-04-19 00:45] airtonix commented on #629
not sure what the intention of seting `configFile` is, I can only assume that you thought setting this would be equivilant to `vite --config=./path-to-config-file.ts`

[2022-04-19 11:34] sandeeppatidar30 commented on #594
I'm also facing the same issue, any update on this issue ? or any workaround that I can use to fix this issue ?

[2022-04-19 11:36] Jordan-Hall commented on #629
I'll take a look at this. It was meant to merge the config file. If thats not working then. we will manually read the file and merge it ourselves.

[2022-04-19 20:56] mwarger opened #632 "Vite | React: UI Library Build Fails"
**Describe the bug**
After creating a default @nxext/react:library, the build command fails.

[code]

**To Reproduce**
Follow the installation instructions here:
https://nxext.dev/docs/react/installation.html

Create a new buildable library with that plugin.

Run the build command.

**Expected behavior**
I would expect the build to succeed without any errors.

**Additional context**
It appears the

[2022-04-20 15:28] pookdeveloper commented on #594
@sandeeppatidar30
Change the preview like this:

`import { getHostRef, registerHost, renderVdom, } from '@stencil/core/internal/client';
import { defineCustomElements } from '../../../dist/libs/lib-ui-web-components/loader';
import { setStencilDocJson } from '@pxtrn/storybook-addon-docs-stencil';
import docJson from '../../../dist/libs/lib-ui-web-components/path/to/docs.json'
if(docJson) setStenci

[2022-04-21 06:34] rgolea commented on #322
I'm having the same issues and I'm not sure why since it's been about 2 months since I've tried this plugin and it worked. Let me know what I can do about it. This is the report:
[code]
After I set up the `devServer.root` property to `/`, I get the following error, which is kinda weird since I am already passing the verbose flag:
[code]

[2022-04-21 09:20] DominikPieper commented on #632
Hey, could you add the output of `nx report` please?

[2022-04-21 14:49] mwarger commented on #632
@DominikPieper Here you are.

Report complete - copy this into the issue template

   Node : 16.14.2
   OS   : darwin arm64
   npm  : 8.5.0

   nx : 13.10.3
   @nrwl/angular : Not Found
   @nrwl/cypress : 13.10.3
   @nrwl/detox : Not Found
   @nrwl/devkit : 13.10.2
   @nrwl/eslint-plugin-nx : 13.10.3
   @nrwl/express : Not Found
   @nrwl/jest : 13.10.3
   @nrwl/js : 13.10.3
   @nrwl/linter : 13.10

[2022-04-21 14:57] Jordan-Hall commented on #632
@DominikPieper i believe this is an issue with vite lib package. I was going to take a look at it this weekend.

[2022-04-22 03:16] Ahryman40k opened #635 "Svelte | Vite : UI Library Build Fails"
**Describe the bug**
After creating a default @nxext/svelte:library, the build command fails.

[code]

**To Reproduce**
Steps to reproduce the behavior:
build a basic publishable svelte library
[code]

**Expected behavior**
I would expect the build to succeed without any errors.

**Additional context**
It appears the build output actually writes to the appropriate dist folder, but the build still

[2022-04-22 04:53] DominikPieper commented on #632
@Jordan-Hall  from the whole error (see the other one, same with svelte) Nx moved or removed the function in the newest version😅

[2022-04-22 11:16] DominikPieper commented on #629
@Jordan-Hall it's no problem with the config merge. I tried right now, it's again the problem with transitive deps. The open PR should fix this as well :-)

[2022-04-22 11:39] DominikPieper commented on #635
Same like https://github.com/nxext/nx-extensions/issues/632#issuecomment-1106005073 for React. We'll fix it soon

[2022-04-22 14:16] DominikPieper commented on #629
@airtonix could you try the latest version?

[2022-04-22 14:46] DominikPieper opened #643 "Nxext: Update to Nx 14"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-04-24 13:08] airtonix commented on #629
I'll try it out now

[2022-04-24 13:19] airtonix commented on #629
nope, still doesn't respect my vite.config.ts ...

i have in there something like:

[code]

and it refuses to write the output there instead it writes it to `../../dist/apps/graphiql-webview/`

[2022-04-24 13:24] Jordan-Hall commented on #629
Thats working as expected. NX has a strict folder structure we are adhering too.

[2022-04-24 15:01] DominikPieper commented on #629
Yes that’s the reason. Nx defines the output structure and it’s needed for various mechanisms to work like the cache

[2022-04-24 23:45] airtonix commented on #629
oh well that doesn't work for vscode extensions sorry. guess I'll have to fork your project

[2022-04-25 05:21] DominikPieper commented on #629
Maybe a plain Vite project is better than? If that don’t fit with the structure of Nx, maybe Nx isn’t the best tool for the job

[2022-04-25 06:36] Jordan-Hall commented on #629
Agree, if you change the output, then you will loose everything but schematic for NX. You are able to change the folder structure but for NX itself... what plugin are you using and why do you need to change it.

[2022-04-25 07:51] Jordan-Hall commented on #629
Reopening the ticket as more talk internally about this and see what would break from NX side. Already been talks about less reliant on NX while keeping benefits such as schematics and nx cloud.

@airtonix

1. What's the use case to change the path?
2. Is this a global change of dist to a flat structure or per app

[2022-04-25 10:40] DominikPieper commented on #629
@airtonix I added the possibility to set the outputDir through the project.json. It's not the vite config but through this it's more the nx dir to set something global like this. Would that work for you?

[2022-04-25 11:06] #380 closed

[2022-04-25 12:05] rgolea commented on #322
So it seems that if you call your library `ui`, the entire stencil library doesn't work. Could we validate the name of the project and maybe not allow it?

[2022-04-25 22:10] konrad-kinesso opened #648 "Stencil: Update peer dependency"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i can't use most recent version of packages.

**Describe the solution you'd like**
Please @DominikPieper can you update [peer dependencies](https://github.com/nxext/nx-extensions/blob/main/packages/stencil/package.json#L31) for stencil package? Thanks :)

[2022-04-26 06:33] DominikPieper commented on #648
Hey, I'll update some stuff soon but the peerDependency shouldn't stop you from installing a newer version. Except that there's a warning it should work. That's why I didn't added it as a dependency but a peerDependency

[2022-04-30 08:40] kdshop commented on #648
Im sorry, bad phrasing :) It works and it is possible to use the most recent versions i just have to specify `--legacy-peer-deps` while installing dependencies.

[2022-05-02 18:19] dgonzalezr commented on #648
@DominikPieper in case it is useful 😉  it happening when upgrading to the latest NX 14.x

![CleanShot 2022-05-02 at 21 16 24](https://user-images.githubusercontent.com/328492/166302523-e78cb432-853e-4956-ae24-e736f935349a.png)

As @kdshop mentioned is working while we add the `--legacy-peer-deps` flag but the ideal would be to work out of the box and resolve all dependencies needed considering the

[2022-05-02 19:22] DominikPieper commented on #648
@dgonzalezr  the nx 14 build isn’t there yet. We’ll release all packages with 14 tomorrow

[2022-05-03 10:29] #643 closed

[2022-05-03 16:03] DominikPieper commented on #648
@dgonzalezr and @kdshop V14.0.0 is there and hopefully should fix both :-)

[2022-05-04 06:16] #648 closed

[2022-05-05 22:53] marckassay commented on #635
@DominikPieper I noticed the `yarn.lock` file has 2 sets of Nx packages one being v13 and the other v14. I assume that is unintended. I cloned and had yarn (using v1.22.18) regenerate it, ran the following with no issues:

[code]

[2022-05-05 23:06] marckassay commented on #635
Ah, nevermind! @nx-plus/vue depends on Nx v13.

[2022-05-08 13:38] tieppt opened #672 "React: missing `vite` in package.json"
**Describe the bug**
When I follow the installation guide then create a new React application. I can not serve the app because the `vite` package is missing. Should we update the documentation to explicitly tell the dev to install `vite` or we will install it automatically?

**To Reproduce**
Steps to reproduce the behavior:
[code]

Then open the `package.json` file, you will see that the `vite` pa

[2022-05-09 15:14] GaryB432 opened #676 "Sveltekit: Referenced project must have setting "composite": true"
**Describe the bug**
Generated and built new app has "error" in tsconfig, e.g. `Referenced project 'c...' must have setting "composite": true`

**To Reproduce**
[code]

**Expected behavior**
A new project should not show any "errors" in supported versions of vscode.  `.sveltekit` would also be added to `.gitignore` too right?

**Additional context**
Windows 10

[2022-05-09 15:26] GaryB432 opened #677 "Sveltekit: component generator throws exception, e.g. `NOT SUPPORTED: keyword "id", use "$id" for schema ID`"
**Describe the bug**
Generating new component throws the exception mentioned in issue title

**To Reproduce**
[code]

**Expected behavior**
A component should be geenrated

**Additional context**
Windows 10

[2022-05-11 19:51] joarkm1 opened #682 "Generating a stencil application from the "apps" preset fails with "Cannot find module '@nrwl/cypress'"."
**Describe the bug**
Generating a stencil application from the "apps" preset fails with "Cannot find module '@nrwl/cypress'".

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Error output**
[code]

**Expected behavior**
A stencil application should be generated. Dependencies should be automatically installed when required.

**Additional context**
The [docs](https://nxext.dev/docs/stenc

[2022-05-16 15:06] Devine-Davies opened #688 "Stencil : Cannot find module when testing"
**Describe the bug**
I was wondering if anyone could help me clear up some confusion i'm experiencing with NX. Iv'e created two lib's one using `$ nx generate @nrwl/js:library --name=hello-tsc --buildable` and another with `$ nx g @nxext/stencil:library my-comp --publishable` .

When importing hello-tsc into my-comp and building my-comp with `$ nx build my-comp` everything works as expected, but w

[2022-05-16 22:28] Devine-Davies commented on #688
I think, I have a solution

nx test my-comp is using stencil.config.ts for testing and this must be losing linking with local/custom modules referenced by jest config under moduleNameMapper.  With that said, i was able to extend stencil.config.ts  and pass custom moduleNameMappers re-linking local/custom modules paths again and lo and behold, tests started passing.

`import { Config } from '@stenc

[2022-05-16 22:47] marckassay commented on #688
Nice! I cloned and ran your Nx workspace and it did fail as you mentioned it would. I noticed while stepping into Jest code, there is this comment of theirs followed by code:

[code]

...that `hastePackage` var isn't being assigned as I believe it was intended.  If you look into their `main` branch, that code has changed as seen [here](https://github.com/facebook/jest/blob/43d075c12234bd4d12822081

[2022-05-17 09:37] DominikPieper commented on #688
Hey, thanks for the demo of the problem. Seems like a problem with the tsconfig paths. I'll take a look what stencil is using here

[2022-05-17 18:55] Devine-Davies commented on #688
Hey, thank you both for following up on this and glad the demo helped. Cheers for building awesome software, be good to see this issue through. :+1:

[2022-05-19 02:19] Ahryman40k commented on #635
Hi @marckassay,

Can I help you on anything ?

[2022-05-19 11:47] #682 closed

[2022-05-22 14:41] kevinabeal opened #698 "Solid: Support for --hmr=false"
**Is your feature request related to a problem? Please describe.**
I have issues often where some library is not intended to work with hmr (e.g. because it's non-deterministic) and have to disable it when working on a React or Angular project. As a matter of personal taste, I don't even like HMR, and find it doesn't help my development process.

In setting up a Solidjs project and using the `solid

[2022-05-22 14:47] kevinabeal commented on #698
Or something like this:
<img width="513" alt="image" src="https://user-images.githubusercontent.com/63614456/169701159-48bfa7d3-73ce-4c8a-9b7e-162b27dfb523.png">

Maybe these options are passed to the Vite build server config, but in what way I do not know.

[2022-05-22 17:29] borgius opened #699 "Sveltekit: please push new version (14)"
Only v13 available on NPM

[2022-05-23 14:02] DominikPieper commented on #699
I pushed the latest V14 but the Sveltekit packages needs some changes yet. HadnÄt time to go into what changed and enhance it

[2022-05-24 09:14] DrMabuse23 opened #701 "Stencil : is missing wrong dependency"
**Describe the bug**
after add @nxext/stencil to my nx monorepo i get the message 1
  ├── ✕ missing peer @nxext/vite@14.0.0

**To Reproduce**
use first step installation

**Expected behavior**
vite should not be neccessary for stencil i guess

**Additional context**
<img width="1920" alt="Screenshot 2022-05-24 at 11 07 41" src="https://user-images.githubusercontent.com/797537/169996064-6dcc97b6-26

[2022-05-24 09:21] DominikPieper commented on #701
Mh interesting, cause @nxext/vite isn't defined as a peer dep.

Seems like pnpm reads the peerDeps of the peerDeps maybe?

`
  "peerDependencies": {
    "@nxext/svelte": "^14.0.0",
    "@nrwl/storybook": "^14.0.3",
    "@nrwl/cypress": "^14.0.3",
    "@nrwl/linter": "^14.0.3",
    "@nrwl/react": "^14.0.3",
    "@nrwl/angular": "^14.0.3",
    "@nrwl/jest": "^14.0.3",
    "@nrwl/workspace": "^14.0.3

[2022-05-24 09:28] DrMabuse23 commented on #701
Hey not sure i can follow. this is the package.json from the stencil package ? if yes why is there svelte react and agular needed ?

[2022-05-24 09:36] DominikPieper commented on #701
It's from the @nxext/stencil package. There's a generator for the Stencil output targets for these framework. So they're just optional for if you use the generator for the output target bindings for these frameworks. Cause if you e.g. wan't to use the angular bindings it generates an angular lib for the Stencil lib for easier startup.

[2022-05-24 09:38] DominikPieper commented on #701
If you don't use the output target generator you don't need these. I'm just a little confused as well cause I'm not sure how pnpm handles this. The listed packages like @nxext/vite and @nxext/vitest are dependencies from @nxext/svelte what's an optional dependency here for the Stencil package.

The stencil package itself mentioned there will be installed with the first call from the app or lib gen

[2022-05-24 09:39] DominikPieper commented on #701
Seems like a ppm thing cause I don't get them listed with yarn. ^^'

[2022-05-24 09:41] DrMabuse23 commented on #701
Yes i decided today starting with pnpm maybe  not the best idea...

[2022-05-24 09:42] Jordan-Hall commented on #701
You can tend to ignore that pnpm error. Does it still work?

[2022-05-24 09:43] DominikPieper commented on #701
Should't affect the usage at all (hopefully).

[2022-05-24 09:52] DrMabuse23 commented on #701
Ok yes and no i can`t usde the feature  --buildable and --publish for a library
and i can use my library in  my stencil app without imports
<img width="1920" alt="Screenshot 2022-05-24 at 11 51 15" src="https://user-images.githubusercontent.com/797537/170004075-c5abf783-6a2f-4466-bb3e-3c3d5e686abb.png">

[2022-05-24 09:56] DominikPieper commented on #701
What do you mean by you can't use them?

Wir können auch Deutsch schreiben wenn das einfacher ist :-)

[2022-05-25 14:34] NordlingDev opened #702 "Vite: Application not prioritizing or reading paths from project's tsconfig.json"
**Describe the bug**
Vite application does not look for any paths configuration inside the project's `tsconfig.json`. It only looks for the paths under workspace's root `tsconfig.base.json`. This is not how paths are resolved in official @nrwl apps and it prevents us from overriding paths with custom paths per project.

**To Reproduce**
1. Generate a simple Vite application: `nx g @nxext/vite:appl

[2022-05-26 15:29] Devine-Davies opened #703 "Stencil Publishing Issue with Required Dependency: Bundling Warning UNRESOLVED_IMPORT"
Hello, I was hoping someone could help me clear up some confusion I am dealing with around NX. Not sure if it's an issue I'm facing or a lack of understanding. Apologies if the latter.

I have two projects `nx-comps` & `stencil-app` and would like to export/publish a component from `nx-comps` with one module dependency and publish it into `stencil-app`. When trying to achieve the following I get t

[2022-05-27 16:18] marckassay commented on #703
Seems you're experiencing [stencil #2815 issue](https://github.com/ionic-team/stencil/issues/2815).

I suppose you can publish 'hello-tsc' library and import that into 'my-comp'.

[2022-06-03 10:31] #699 closed

[2022-06-03 14:13] winston0410 opened #707 "Sveltekit: ReferenceError: exports is not defined"
**Describe the bug**
Sveltekit that lives in Nx workspace will have a weird error like this for important certain modules:

[code]

**To Reproduce**
Run the following scripts

[code]

Manually replace %svelte% with %sveltekit% in app.html (another issue need to be fixed)

[code]

Create the hook file, `apps/dummy/src/hooks.ts` with the following content:

[code]

Reproduction: https://github.com/w

[2022-06-08 15:08] Devine-Davies commented on #703
Hi @marckassay, sorry about the delay and cheers for the suggestion.

Would your suggestion cause a conflict when importing  'hello-tsc' that's declared by paths in tsconfig.base.json (https://github.com/Devine-Davies/nx-stencil-test/blob/80c9cb3a87c7b70fb24994d2f4cc1410f0d5a8e0/my-comps/tsconfig.base.json#L17) and the one imported by package.json dependencies by 'my-comp' ?.

If there is a way of

[2022-06-08 17:53] bostondevin opened #709 "@nxext/sveltekit has dependency on @angular-devkit/schematics"
Not sure why, but if I create a blank workspace and add a sveltekit app it makes me install angular schematics as a workspace dependency before working, but after that it's ok...

Cannot find module '@angular-devkit/schematics'
Require stack:
- /Users/dmcqueeney/Websites/nx-sveltekit/node_modules/@nrwl/workspace/src/utils/ast-utils.js
- /Users/dmcqueeney/Websites/nx-sveltekit/node_modules/@nrwl/wo

[2022-06-13 21:40] marckassay commented on #703
You install/add 'hello-tsc' as a dependency for 'my-comp' and set `bundledDependencies` in 'my-comp/package.json' file to `true`. But I'm still not sure how Stencil compiler will resolve 'hello-tsc'. And also, 'hello-tsc' is a commonjs module, so it may be best to change it to es module.

Not sure if that is any help.

[2022-06-14 13:29] marckassay commented on #703
And also, it's worth mentioning, [some browsers](https://caniuse.com/import-maps) have implemented [`import-maps` spec](https://github.com/WICG/import-maps#the-basic-idea) which may help.

[2022-06-17 11:42] maku commented on #709
@nxext/sveltekit does not work for me too -> Several errors. Tried also to install @angular-devkit/schematics

[2022-06-22 16:13] GaryB432 opened #721 "Sveltekit: application build cannot read 'length' of undefined"
**Describe the bug**
new svelte-kit application build **cannot read properties of undefined (reading 'length')**

**To Reproduce**
[code]

**Expected behavior**
Generated application should build

**Additional context**

[code]

[2022-06-22 16:47] GaryB432 commented on #591
when you guys say discord do you mean the svelte server?

[2022-06-22 18:28] Jordan-Hall commented on #591
No our own https://discord.gg/QvhA5hgD

[2022-06-26 10:30] masonmark commented on #721
Yes, I saw this behavior today too with Nx 14.3.6.

I'm afraid I don't have any additional context to add, though. I had just installed the @nxext/sveltekit plugin for the first time, tried to use it to generate a test SvelteKit, and encountered the same issue trying to build.

(The only difference from the steps in the original report above was that I did this in an existing Nx monorepo.)

[2022-06-27 13:40] bigfish opened #727 "Stencil + React Typescript Error about Overlay render method"
When consuming a react-component library generated with the react-output-target, in an NX project, then using one of the components in a React library & app, I get the  following error

`ERROR in libs/react-components/src/react-component-lib/createOverlayComponent.tsx:149:5

TS2416: Property 'render' in type 'Overlay' is not assignable to the same property in base type 'Component<Props, {}, any>'.

[2022-07-01 17:04] ALMaclaine opened #731 "React: Project created with --js=true does not work"
**Describe the bug**
React project created with --js=true does not work

**To Reproduce**
Generate application:
`pnpm nx g @nxext/react:application app --js=true"`
`pnpx nx serve`

**Expected behavior**
The app to serve and function correctly.

**Additional context**
The browser console error says cannot find `main.tsx`, this makes sense since `main.tsx` doesn't exist, only `main.js`

When changin

[2022-07-01 17:44] Jordan-Hall commented on #731
Thank you. I'll take a look at this over the weekend

[2022-07-03 19:56] coffeeneer commented on #709
It seems @angular-devkit/schematics is used by the @nrwl/devkit which is the basis for nx plugins. Interestingly it is not automatically added as a dependency. Adding this dependency manually does solve this issue, but adding it automatically would be nice.

A current pull request does switch to using a custom devkit instead of Narwhal's, which might also address this issue?

[2022-07-03 20:31] coffeeneer commented on #721
Narwhal added a new required property, not fully intended to break everything but more of a regression it seems, there is an issue tracking this:
[https://github.com/nrwl/nx/issues/10750](https://github.com/nrwl/nx/issues/10750)

This issue was closed after merging a fix, but the fix was later reverted...

[2022-07-03 21:06] coffeeneer commented on #721
A temporary workaround could be used by applying a patch with yarn or another package manager that supports this:
https://github.com/nxtend-team/nxtend/issues/633#issuecomment-1168352053

This does fix the build and though I haven't tried actually building an application with it yet, the default generated app serves up successfully after updating the index.html to use %sveltekit.head% and %sveltek

[2022-07-04 08:54] potb commented on #721
Indeed, works for me too.
Did not work the first time copy-pasting the diff from the issue you linked ; had to patch it myself.
Followed pnpm docs : https://pnpm.io/cli/patch

[2022-07-04 14:27] merlosy commented on #702
Hi! This might not be of great help, but there used to be a webpack plugin to do this: [tsconfig-paths-webpack-plugin](https://www.npmjs.com/package/tsconfig-paths-webpack-plugin).
As of nx^13, it is part of several nx packages' dependencies.

[2022-07-05 12:19] draylegend opened #733 "Angular: Cannot find module"
**Describe the bug**
Cannot create angular app.

[code]

**To Reproduce**
- `npx create-nx-workspace my-app --preset=empty`
- `npm install @nxext/angular`
- `nx g @nxext/angular:application`
  - `my-app`
  - `css`
  - `true`

**Expected behavior**
Created angular app.

**Additional context**
[code]

[2022-07-06 07:11] fiqrisr opened #734 "React: Cannot find module 'nx/src/utils/app-root'"
**Describe the bug**
Cannot create React app and library.

[code]

**To Reproduce**
Steps to reproduce the behavior:
Just run this
[code]

**Expected behavior**
Created React app/library.

**Additional context**
[code]

[2022-07-09 14:02] bigfish commented on #235
Yeah, I've been battling with this as well for some time now :( Finally find the minimal repro steps as outlined.
Thanks for posting the workarounds @corysmc I'll probably have to go with one of them until this is resolved, seems like the plugin may need an update.

[2022-07-13 19:48] arthurgailes commented on #734
Also experiencing this with pnpm, after updating to the latest version of nx last week.

[2022-07-26 09:22] ymc9 opened #755 "Vite: upgrade vite peer dependency to 3.0.0"
Vite 3.0 is officially out. Please upgrade nxext/vite peer dependency. Thanks!

[2022-07-26 13:12] DominikPieper commented on #755
The version update is already in development. We'll update the package soon.

[2022-07-27 19:46] prawnsalad opened #762 "Vite | React: Export generators"
I can `import { applicationGenerator } from '@nxext/vite';` to wrap it into my own generator which works well, but I cannot do the same with `@nxext/react` as it's missing the exports, so I can't wrap it cleanly.

I can however import `@nxext/react/src/generators/application/application` to get the generator function, but this is brittle.

**Describe the solution you'd like**
Export the generator

[2022-07-29 09:32] DominikPieper commented on #734
Could you retry with the latest version?

[2022-07-29 14:08] arthurgailes commented on #734
Works wonderfully now, thank you!

[2022-07-29 15:52] #734 closed

[2022-07-29 16:59] fiqrisr commented on #734
Thanks

[2022-08-01 10:53] Manuelbaun opened #765 "@nxext/plugin-run-utils cannot be found on npmjs"
Hello,
i try to use the vite react generator, but I cannot install it, since `@nxext/plugin-run-utils` is not available on npmjs.

[2022-08-01 11:11] DominikPieper commented on #765
Hey, what's the exact error here and how do you create the workspace? Shouldn't be an error cause the run-utils aren't a dependency of @nxext/react

[2022-08-01 11:28] Manuelbaun commented on #765
I ran this command:

`npm install -D @nxext/react`

This is the error message:
[code]

[2022-08-01 11:56] DominikPieper commented on #765
Mh there was a missing reference from an experiment. Should be fixed now. Please try again with the 14.0.3.

[2022-08-01 12:06] Manuelbaun commented on #765
yes it works now, thank you 👍

[2022-08-01 12:39] #765 closed

[2022-08-01 20:23] wstidolph commented on #733
Same error with attempting to generate an Angular library, using WSL2 under win32

(and, confirmed no 'app-root' exists under `node_modules/nx/src/utils`)
[code]

[2022-08-02 04:42] HarshRohila opened #766 "Stencil: App serve command failing with error"
nx serve <app-name> giving error

**To Reproduce**
Steps to reproduce the behavior:
1. Create empty nx workplace
`npx create-nx-workspace@latest` (choose empty apps workspace)
2. Install this package
`npm install @nxext/stencil --save`
3. Create app
`nx g @nxext/stencil:app my-app`
4. Run serve command
`nx serve my-app`

This command gives error
`[ ERROR ]  config.sys.getDevServerExecutingPath is

[2022-08-02 06:26] DominikPieper commented on #766
Good morning, seems like there's a change with 2.7.2. Could you downgrade to the stencil version 2.7.1 and try again?

[2022-08-02 12:19] pranav-js commented on #733
why is it coming today only, it was working for me till yesterday

[2022-08-02 17:43] HarshRohila commented on #766
With 2.7.1 stencil core version, serve command worked, but other commands - test, e2e and build were failing
And I was getting warning that peer dependency ^2.15.1 is required for stencil core, so tried 2.15.1 version, all commands are working with that version
Thanks

[2022-08-02 21:19] DominikPieper commented on #766
Ah sorry I meant 2.17 not 2.7. missed the one

[2022-08-03 11:56] DominikPieper opened #771 "Stencil: Error with Stencil 2.17.2 and higher"
**Describe the bug**
Build fails with an error since 2.17.2 and higher

**To Reproduce**
Use Stencil higher than 2.17.1

**Expected behavior**
Should work

**Additional context**
Error:
[code]

[2022-08-03 12:37] pranav-js commented on #771
just so if anyone is struggling, a temporary fix is to pin @stencil/core to 2.17.1 and @nxext/stencil to 14.0.5 with nrwl packages to 14.5.x

[2022-08-04 12:03] dolphinigle opened #772 "Angular: Port Firebase executor from nxtend"
According to [this comment](https://github.com/nxtend-team/nxtend/pull/638#issuecomment-1204196754), [nxtend](https://github.com/nxtend-team/nxtend) is being deprecated in favor of nxext. But Nxext doesn't currently support [firebase](https://github.com/nxtend-team/nxtend/tree/main/packages/firebase), unlike nxtend.

It would be great if Nxext supports firebase too.

If this is within the scope of

[2022-08-04 13:52] DominikPieper commented on #772
Hey,
right now we don't plan to migrate @nxtend/firebase to Nxext.

[2022-08-04 17:01] johnnyBira opened #773 "React: Capacitor live reload not working"
I have setup Ionic React in my NX workspace using the `@nxext/ionic-react` generator and have successfully added iOS as one of my target platforms.
What is not clear to from the docs of `@nxext/ionic-react` is how to get a development environment with livereload in the iOS Simulator working.

I have tried the following command which does start the simulator as expected
[code]
however the process e

[2022-08-04 18:26] johnnyBira commented on #773
I guess it's related to this issue in the old repository?
https://github.com/nxtend-team/nxtend/issues/304

Is this still the suggested workaround still relevant or is there another solution?

[2022-08-04 18:34] DominikPieper commented on #773
@johnnyBira they’re technically the same plugins but for Nx 14. We migrated them over and continue here together. But no further bug fixing here until now so probably the same bug.
Sorry I can’t help more for now 😅

[2022-08-04 18:50] johnnyBira commented on #773
@DominikPieper that's too bad 😓 This means there's pretty much no viable development environment at the moment.

[2022-08-05 08:43] m4s7 commented on #771
Steps to reproduce:

[code]
- Name: test-stencil
- Type: app
- nx-cloud: no

[code]

[code]

[code]

-> Working build

[code]

[code]
-> Failing Build

Repo: https://github.com/m4s7/failing-sample

[2022-08-05 21:30] NordlingDev commented on #702
@merlosy Yes but it seems like this plugin completely overrides that config.

[2022-08-07 10:24] johnnyBira commented on #773
My current recipe is sceptic to iOS, but I'm sure it can be extended to include other platforms:

1. Your current IP and add to `capacitor-config.ts`.
`packages/{package-name}/capacitor-config.ts`
[code]
2. Update `project.json` with the following config:
`/package/{package-name}/project.json`
[code]
3. Start the dev server:
[code]
4. Start simulator:
*** Using Capacitor
nx run {package-name}:cap

[2022-08-10 08:39] #772 closed

[2022-08-10 19:24] chogland commented on #600
Any update on this?

[2022-08-11 05:29] DominikPieper commented on #600
@chogland not really. I didn’t get any more information and wasn’t able to reproduce the error. Did you have the same error?

[2022-08-11 11:45] prawnsalad opened #785 "Vite: mode config option being set?"
I have a vite.config.ts file (below) trying to set the `mode` option for vite. Vite uses this in place of `NODE_ENV`. It doesn't merge this config into the inlineconfig that vite takes, which may be expected?

https://github.com/nxext/nx-extensions/blob/main/packages/vite/src/executors/build/executor.ts#L46 If I manually add a `mode: context.configurationName` here then vite respects it as expecte

[2022-08-11 21:26] chogland commented on #600
Yes, I have the same error. See attached image.

![image](https://user-images.githubusercontent.com/5976480/184245101-beccd261-9647-4db5-bbcb-8f76d3e11b3c.png)

[2022-08-11 21:32] chogland commented on #600
@DominikPieper here is a repo that should allow you to reproduce (i am on Windows in case you don't see the same issue).

the command is nx run core-components:build --verbose

Appreciate your help.

[2022-08-12 19:38] jwo opened #787 "React : @nxext/react:library build package.json appears wrong"
When I build a publishable library using @nxext/react:library, the package.json doesn't look how I expect or what happens with the normal nx libraries.

I've created a pubishable component using

[code]

When running `nx build`:

* it appears to be a copy of the workspace package.json
* Doesn't use the name or any of the values (like publishConfig or repository) from the libraries' pacakge.json
*

[2022-08-15 14:39] chogland commented on #600
@DominikPieper , any chance you can review my sample repo and help determine what may be the issue? Let me know if you need my dependency list or anything else.

[2022-08-15 15:21] rwaskiewicz commented on #771
👋 I believe this is an issue on Stencil's end. https://github.com/ionic-team/stencil/pull/3518 _should_ fix this issue

[2022-08-15 15:28] DominikPieper commented on #771
@rwaskiewicz  thanks. I follow the issue with that in the stencil project as well 😁 after that’s released I’ll remove the temporary version pin and add the latest version by default

[2022-08-16 10:44] ofirrifo opened #788 "Stencil | storybook-configuration"
**Describe the bug**
I created a Stenciljs library and then I use this command `nx g @nxext/stencil:storybook-configuration my-lib-name`
in order to use storyook.
a new file was created In this path: `myproject/libs/nav-components/.storybook/main.ts`
inside the file I get error `TS2305: Module '"../../../.storybook/main"' has no exported member 'config'.` for this line
[code]

In the root I do hav

[2022-08-17 07:47] Tam2 opened #790 "Sveltekit: Svelte-Kit Dev Is No Longer Available Use Vite Dev Instead"
**Describe the bug**
On newer versions of SvelteKit you can no longer run svelte-kit dev it's changed to use vite directly

https://github.com/sveltejs/kit/pull/5332

[code]
**To Reproduce**
Try and run nx serve on new versions and get the above error

**Expected behavior**
We should be able to run the applications on new versions of svelte

[2022-08-18 12:17] b3h3m0th commented on #773
@johnnyBira Thank you so much, it worked perfectly fine! For anybody else wondering how to configure the `server.url`: I used the `ip` package which helps you dynamically setting that value like so:

[code]

[2022-08-30 14:22] dgonzalezr opened #797 "Stencil: stencil library generator fails"
**Describe the bug**
The `nx g @nxext/stencil:lib components` commands fails if `@nrwl/storybook` is not installed 😕

![CleanShot 2022-08-30 at 17 20 32](https://user-images.githubusercontent.com/328492/187461924-e11ab01c-1bea-4a02-8b4e-9a8e03bb4e7d.png)

**To Reproduce**
- Create a Nx workspace
- Add nxext/stencil
- Generate a Stencil library

**Expected behavior**
The Stencil library should be c

[2022-08-31 13:12] chogland commented on #600
Updates, some details within the Stencil config that were unrelated to NX. (postcss and purge issues).

[2022-08-31 17:17] bgourlie opened #798 "e2e targets don't work out of the box"
**Describe the bug**

After doing a fresh checkout of the repository and installing dependencies, running `npx nx e2e sveltekit-e2e` gives me the following error:

[code]

**To Reproduce**
- Checkout project
- Install dependencies
- Run an e2e test target

**Expected behavior**
A test workspace should be created with the development plugins installed. I assume there is some undocumented setup work

[2022-08-31 19:47] bgourlie opened #799 "Stencil | Svelte | Sveltekit | Solid | Vite | Vitest | React | Angular: <your title>"
**Describe the bug**

Generating a new sveltekit project results in the following:

[code]

**To Reproduce**
Steps to reproduce the behavior:

- Install `@nxext/sveltekit` plugin in your workspace
- Generate a new sveltekit project: `npx nx g @nxext/sveltekit:app foo`

**Expected behavior**
A project should be created without error.

**Additional context**
Observed in version 14.0.0-next.2. This m

[2022-09-02 05:00] DominikPieper commented on #798
Hey, I had this until on the GitHub actions until now. Are you on Mac or windows?

[2022-09-02 05:03] DominikPieper commented on #798
https://github.com/nxext/nx-extensions/blob/3d2b39512857478118beff61f8798ef74a5f9a10/e2e/e2e/src/executors/e2e/e2e.impl.ts#L38

Could you try to remove the if with the checks it’s ci and run again? Locally I don’t needed it but maybe that’s just on Mac

[2022-09-03 02:23] st3v3y opened #802 "Sveltekit: Can't serve newly created app"
**Describe the bug**
After I generated a new app with `nx g @nxext/sveltekit:app my-app`, I get an error when trying to serve the app with `npx nx serve my-app`:

[code]

I created a nest app in the same workspace and it works.

**To Reproduce**
Steps to reproduce the behavior:
1) Generate new app with `nx g @nxext/sveltekit:app my-app`.
2) Serve the app with `npx nx serve my-app`

**Expected beha

[2022-09-04 07:59] ChristopherLMiller commented on #802
Getting the same error, any work around for now?

[2022-09-06 01:37] JonScottLee commented on #600
I am also having this issue.

[2022-09-08 17:26] LuckeeDev commented on #600
@DominikPieper sorry for the late reply, here are my `nx report` and configs.

## NX Report
[code]

## Stencil config
[code]

## Tailwind Config
[code]

## Project config
[code]

[2022-09-09 22:37] nitedani opened #803 "Angular: NullInjectorError: No provider for AppService!"
Given the following code:
[code]
I get the error:
[code]

The error can be fixed by modifying the following line:
https://github.com/nxext/nx-extensions/blob/3d2b39512857478118beff61f8798ef74a5f9a10/packages/angular/swc/src/lib/visitors/injector.ts#L85
to
[code]
Reproduction: https://github.com/nitedani/vite-angular-bug0

[2022-09-09 23:19] nitedani opened #804 "Angular: failed to deserialize Program"
Given the following code:
[code]

I get the error:
[code]

The error can be fixed by modifying the following line:
https://github.com/nxext/nx-extensions/blob/3d2b39512857478118beff61f8798ef74a5f9a10/packages/angular/swc/src/lib/visitors/components.ts#L108
to
[code]
Reproduction: https://github.com/nitedani/vite-angular-bug0/tree/repro22

[2022-09-12 11:24] #803 closed

[2022-09-12 11:25] #804 closed

[2022-09-14 09:53] DominikPieper commented on #798
I'm back from the holidays.

Still the same question, what OS do you use? On my Mac, all is working, on the CI as well. I've removed the CI check and let it login every time, did that works on your machine?

[2022-09-14 14:50] bgourlie commented on #798
Apologies for the late response. I am also on Mac. Removing the CI check
fixes it, but I believe it is also a prerequisite that a user with
name/pass test:test be created on the local npm instance.

On Wed, Sep 14, 2022 at 4:54 AM Dominik Pieper ***@***.***>
wrote:

[2022-09-14 20:27] troywweber7 opened #808 "Angular: @nxext/ionic-angular application schematic broken with pnpm in fresh Nx monorepo"
**Describe the bug**

In a freshly created pnpm + Nx monorepo, the `@nxext/ionic-angular:application` schematic fails to run. If I fix the errors preventing the schematic from running and then try to build, test, e2e, or lint, I get additional errors. I tracked down a number of packages which were depending on phantom dependencies, and if I address those phantom dependencies with a `.pnpmfile.cjs`

[2022-09-15 05:47] #731 closed

[2022-09-15 10:26] ZaLiTHkA opened #811 "Capacitor: update to version 4"
**Is your feature request related to a problem? Please describe.**

in a sense, perhaps.. new apps generated with `@nxext/ionic-angular` install `@ionic/capacitor@3`. whereas `@ionic/capacitor@4` was released back in July, and has already since been updated to `4.2.0`.

**Describe the solution you'd like**

I would like all the latest tools to use all the latest tools... (:

but for this specific

[2022-09-15 10:27] ZaLiTHkA commented on #811
FWIW: I am trying to bump `capacitorVersion` locally, just to see how much is involved in this upgrade... I'll report back here if/when I discover anything interesting.

[2022-09-15 10:43] DominikPieper commented on #811
@ZaLiTHkA for sure a good idea to update it. Right now we hadn’t any free time to try yet😅

[2022-09-16 11:37] jkavalec opened #812 "Publishable Vite library/library React - d.ts files and peer dependencies"
This concerns Vite based React and normal libraries, I didn't find any remarks on these so I wanted to ask if it is possible to do currently.
- is there way to generate .d.ts files for typings when building the publishable library?
- is there a way how to have dependencies not bundled in resulting file, but have them as dependencies in package.json?

[2022-09-20 07:07] ZaLiTHkA commented on #811
quick note: between work deadlines and our severe power issues here in South Africa, I have not had a chance to look into this one _yet_..

unfortunately, the work projects that I'm refreshing at the moment will need to stick with Cordova for now.. once I get back to my personal projects I'll be working with Capacitor again, so I'll get to dig into this one at that point.

[2022-09-20 16:41] sfabriece opened #813 "Angular: Missing upgrade guide"
The link to upgrade is dead: https://nxext.dev/docs/nxext/upgrades

[2022-09-29 12:35] troywweber7 opened #815 "Angular: page schematic uses incorrect directory"
**Describe the bug**
When creating a page within a library, the page files are created under `apps/` folder instead.

**To Reproduce**
1. run `nx generate @nrwl/angular:library example --skipModule`
2. run `nx generate @nxext/ionic-angular:page navigation --project=example`

**Expected behavior**
Page files should be created under `libs/example/src/lib/navigation/`, but they are created instead un

[2022-10-02 23:15] WhatsThatItsPat commented on #772
Alternatively, perhaps Nxext would be a good place for a successor to https://github.com/simondotm/nx-firebase

[2022-10-02 23:27] WhatsThatItsPat commented on #815
Here's [the same issue from the predecessor](https://github.com/nxtend-team/nxtend/issues/634 ) and a [temporary workaround](https://github.com/nxtend-team/nxtend/issues/627#issuecomment-1120035558).

[2022-10-04 03:21] PatchOnKnee commented on #802
Also experiencing this issue

[2022-10-04 03:21] PatchOnKnee commented on #799
Any updates on when the PR will be merged?

[2022-10-06 15:21] WhatsThatItsPat opened #819 "Angular: Add "Page" to root `component-class-suffix` rule"
When creating an app, this rule is added to the app-level eslint.

[code]

But in an Nx project, we don't really create pages here, so it's pretty much useless.

Could this be automatically added to the root-level eslint instead (or in addition to) since the app-level extends the root-level anyway? Of course the real reason is to allow new libs to use the `Page` suffix.

[2022-10-06 17:37] Freytag opened #820 "Stencil: Storybook Unable to compile Typescript"
**Describe the bug**
After creating a new NX workspace and setting up a stencil project with `@nxext/stencil` after adding Storybook `@nxext/stencil:storybook-configuration` [per the docs ](https://github.com/nxext/nx-extensions/tree/main/packages/stencil#storybook). I get the following output and TS error.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `npx create-nx-workspace@lat

[2022-10-06 18:03] Freytag commented on #820
I've also tried nx-workspace@14.5.0 since i see that the stencil package uses those versions. I also installed @nrwl/storybook@14.5.0 so it would match this repo as well. but still seeing the same issue.

[2022-10-07 12:22] sritrisna commented on #802
I got the exact same issue. Any updates on this? I use nx 14.8.3 and am unable to serve up the svelte-kit app through nx. Just like original reporter of this bug.

[2022-10-07 17:08] oben01 commented on #820
Hello @Freytag
u can use type assertion to modify tsPaths const of  `./storybook/main.ts` file.
something like this :

[code]

The `ResolvePluginInstance` is imported from webpack
[code]

i hope this helps

[2022-10-07 23:19] Freytag commented on #820
Thanks for the suggestion @oben01. This does resolve the TS Error. I'll have to see where to suggest thus update to happen.

However, I now have another issue.  Any thoughts on this issue?
[code]

[2022-10-08 16:03] luechtdev commented on #802
# Basic workaround for simple use cases:

[code]

## Step 1: Required packages
- `@sveltejs/kit`
- `@sveltejs/adapter-auto`
- `svelte-preprocess`
- `vite@3.1.6` (needs to be >= v3.0.0.) (might need to be installed globally)

Usage for npm:
`npm i @sveltejs/kit svelte-preprocess @sveltejs/adapter-auto vite@3.1.6`

## Step 2: Create vite config

[code]

## Step 3: Set Svelte Config

- Rename your co

[2022-10-10 20:03] oben01 commented on #820
@Freytag could u provide a repo please ? I cannot reproduce locally

[2022-10-10 21:41] #489 closed

[2022-10-10 21:45] Jordan-Hall commented on #813
Angular plugin being looked at and rework (maybe scrapped). Angular changed alot since then and this plugin was a ground up rewrite of how angular compiled

[2022-10-10 21:45] #813 closed

[2022-10-10 23:20] Freytag commented on #820
Interesting that you are unable to reproduce with the **Steps to reproduce the behavior**. Here is a repo, [nx-stencil](https://github.com/Freytag/nx-stencil), created following the steps above to reproduce.  I also added in your fix for the TS error.

[2022-10-12 05:52] oben01 commented on #820
@Freytag
I got some erros in the console when running `nx storybook core-components`
[code]
However the storybook is running

![image](https://user-images.githubusercontent.com/22369027/195260325-7fa03976-2f6e-458a-bbce-f1d4bc4d6e93.png)

node version : `v14.16.1`
npm version : `6.14.12`

nx report :
[code]
I'll give it a try on my macbook and get back to u.
Did u try scss stylesheet ?

[2022-10-12 11:25] luechtdev commented on #802
@remkoboschker make sure `resolve` is imported from the `path` package.
I tried the whole process in a new nx project and could not replicate ur error.

Although I noticed that the `outDir` option did throw an error (ESM Error in my case).
I would suggest using the `out` option of your adapter options:

[code]
This should allow multiple apps.
PS.: Using svelte.kit.alias instead of vite.alias is wo

[2022-10-12 13:12] luechtdev commented on #802
@remkoboschker Conflicts should be avoided since all build data should be saved in `apps/app1/.svelte-kit`.
PS Might be a good idea to remove all `.svelte-kit` folders from version control

[2022-10-14 16:34] Freytag commented on #820
@oben01 That's and interesting error that it's trying to find some `react/package.json`
I haven't tried all the stylesheet configurations. But when i originally started i tried PostCSS and had issues so i figured CSS should be the ones with the least amount of configuration since its just CSS and doesn't require pre-processors.

[2022-10-17 07:16] qbawalat commented on #785
Hi. I'm having the same issue with nx&vite&react - is there any other, stable solution to set the 'mode' (or handle env variables for different build profiles) in the latest nxext version?
In my case 'mode' always defaults to production, ignoring passed params.

[2022-10-23 04:02] samratarmas commented on #811
@DominikPieper Quick question, is this as simple as bumping the `capacitorVersion` as @ZaLiTHkA is experimenting with? Does the nx-extensions team plan on Nx 15 and Capacitor 4 upgrades in near future or do you think this feature request will stay open for a while?

Looking forward to hearing from you,
Cheers!

[2022-10-23 08:43] DominikPieper commented on #811
@samratarmas, just bumping the versions won't be enough, I fear. That's why we haven't had an update yet. The nx 15 update is worth in progress and will arrive soon

[2022-10-25 08:18] DominikPieper commented on #811
@Abildtoft, unfortunately, the generated configs need to be checked and changed (if something changes). All versions are updated, generating a plain capacitor project and keeping track of all changes, and working them in. That's what to do right now :-)

[2022-10-26 06:23] ZaLiTHkA commented on #811
FWIW: I am currently still busy with the work projects mentioned in my previous comment, and unfortunately "Life"(tm) has had other plans for my personal time lately.. but I should get a chance to dig into this one more next week.

---

from the little bit I have looked at so far, it doesn't seem like this upgrade will require too many _explicit changes_, but there may be some _implicit changes_ a

[2022-10-26 06:37] DominikPieper commented on #811
@ZaLiTHkA all fine. I know that quite well. The same reason why I haven't had that much time lately. Life sometimes is quite busy as well

[2022-11-02 12:38] ndrsg opened #830 "Svelte | Vite: Support NX ^15.0.0"
**Is your feature request related to a problem? Please describe.**
I cannot upgrade my NX Workspace to 15.0.5, hence @nxext/svelte produces a dependency conflict.

**Describe the solution you'd like**
Release a @nxext/svelte version on NPM that supports nrwl/nx workspaces >=15
I have seen, there are already commits for NX15, but there is no release yet

**Additional context**
[code]

[2022-11-02 16:15] DominikPieper commented on #830
The update to nx15 is ongoing right now. After everything runs smoothly, I'll do the release. Sorry about that, but some things need to be fixed first

[2022-11-03 09:47] dgonzalezr opened #831 "Stencil: missing `@nrwl/storybook` peerDependency when adding `@nxext/stencil`"
**Describe the bug**
When adding the `@nxext/stencil` to a project, if the `@nrwl/storybook` is not installed we're unable to use nxext/stencil generators:

![CleanShot 2022-11-03 at 11 42 56](https://user-images.githubusercontent.com/328492/199689344-498d1f8f-5bae-4759-a81a-f1e92d03fa56.png)

**To Reproduce**
1. Create an Nx workspace: `npx create-nx-workspace@latest myorg --preset=ts`
2. Make su

[2022-11-03 10:15] DominikPieper commented on #831
Hey, I experiment with installing it dynamically while the generator runs. It's not a hard dependency yet cause I don't want to pin too many Nx packages in defined versions cause that brings other kinds of chaos. ^^'

I rework some stuff around the storybook integration for v15, and I'll add this to the list for that

[2022-11-04 11:06] dgonzalezr opened #833 "Stencil: `@nxext/stencil:build` fails if the `prerender` option is enabled in project.json"
**Describe the bug**

Enabling the `prerender` option in the target build makes the `@nxext/stencil:build` fail.

![image](https://user-images.githubusercontent.com/328492/199957613-4af121b1-6193-4aa3-9766-2997ba420ae4.png)

**To Reproduce**

1. Create an Nx workspace: `npx create-nx-workspace@latest myorg --preset=ts`
2. Make sure to downgrade to Nx version 14.x since `nxext/stencil` is not yet c

[2022-11-07 18:09] youngha-sung commented on #755
Any update or timeline on this?

[2022-11-08 09:08] sukhanovr opened #836 "Capacitor: Npm audit fails, minimist <1.2.6, severity: critical"
**Bug description**
Hi!
Apparently, the latest version of `@nxext/capacitor` 15.0.0 depends on vulnerable versions of `minimist` <1.2.6.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm i @nxext/capacitor`
2. `npm audit`

Outcome:
[code]

**Expected behavior**
The Npm audit should pass without issues.

**Additional notes**
NX also had it and fixed it in the [15.0.11](https://github.com/n

[2022-11-08 19:32] nodegin opened #837 "Vite: package is not published?"
**Describe the bug**

The dependencies showing in `packages/vite/package.json` is requiring NX 15+

https://github.com/nxext/nx-extensions/blob/main/packages/vite/package.json

But the actual version installed via NPM is `^14.8.5`

[code]

Which causing NPM unable to perform fresh install.

<img width="653" alt="Screen Shot 2022-11-09 at 4 32 15" src="https://user-images.githubusercontent.com/8536

[2022-11-15 13:53] idealley commented on #837
Same thing here

[2022-11-17 07:58] ScriptType opened #845 "| Svelte |: Storybook Webpack 4 to 5"
**Is your feature request related to a problem? Please describe.**
The Svelte Storybook uses Webpack 4 this results in an error when using Node 17 or higher ( 'ERR_OSSL_EVP_UNSUPPORTED').

**Describe the solution you'd like**
Upgrade the config to use Webpack 5 instead of Webpack 4

**Describe alternatives you've considered**
run node with --openssl-legacy-provider ENV

**Additional context**
Open

[2022-11-17 10:42] Jordan-Hall commented on #837
Hey, we are removing our vite package in favour of NX vite. Migration will be provided soon

[2022-11-20 00:13] m8xp0w3r opened #849 "Capacitor: Cannot find module 'nx/src/utils/app-root'"
**Describe the bug**
When trying to use #773 with ionic-angular I got the following problem:

<img width="1083" alt="Bildschirmfoto 2022-11-20 um 00 59 55" src="https://user-images.githubusercontent.com/38067181/202876429-216971ea-92df-4b83-98a9-8db530f74da6.png">

While some other issues, I found out, that the `app-root` was removed. I found out that the removed `app-root` is used here:
<img widt

[2022-11-22 08:50] DominikPieper commented on #836
Hi, das sollte mit dem letzten Update auf 15.2 dann behoben sein.

[2022-11-22 08:52] DominikPieper commented on #830
I'll close this. The v15 release is on npm :-)

[2022-11-22 08:52] #830 closed

[2022-11-22 09:02] hoi4 commented on #830
@DominikPieper Would it be possible to also release updated versions for ionic-angular and capacitor packages?

[2022-11-22 19:44] troywweber7 commented on #808
Another phantom dependency to consider:

- `@nxext/ionic-angular/src/generators/page/lib/update-routing-file.js` directly depends on:
    - `@phenomnomnominal/tsquery`

[2022-11-28 11:09] YonatanKra opened #852 "Vitest: doesn't resolve typescript aliases"
**Describe the bug**
I've added nxext/vitest to my existing project and switched one of the libs from `jest` to `vitest`. When I run the tests using `vitest` it doesn't take into account

**To Reproduce**
1. Create a library
2. Create a library that depends on that library by importing using an alias.
3. Run tests using vitest

**Expected behavior**
I'd expect the build to succeed and the files to

[2022-11-28 11:15] YonatanKra opened #853 "Vitest: quits from watchmode without prompt"
**Describe the bug**
I'm running the tests for a library using `nxext/vitest`. It runs the tests, and then quits.

**To Reproduce**
Just run the tests using `vitest` executor.

**Expected behavior**
I'd expect vitest to remain in watch mode.

**Additional context**
I get the following message from vitest:
[code]
But it quits.

[2022-11-29 01:46] aaronscribner opened #854 "Nx15 + Ng15 + Nxext + Angular-Ionic@14"
**Describe the bug**
Cannot npm install with dependency misalignment between angular-ionic and nx15

**To Reproduce**
Create a workspace with nx15
Angular application
Install ionic angular
Create an ionic angular application (https://nxext.dev/docs/ionic-angular/getting-started.html)

**Expected behavior**
Able to build, npm install and run the ionic 6 application utilizing ng15

**Additional cont

[2022-11-30 11:36] DominikPieper commented on #852
The Vitest package won't get many updates in the future, cause the ongoing official plugin will replace it

[2022-11-30 11:44] YonatanKra commented on #852
Found it: https://nx.dev/packages/vite
Thanks a lot!

[2022-11-30 11:44] #852 closed

[2022-11-30 13:21] aleclarson opened #855 "Replace nx-project-paths with vite-tsconfig-paths@4"
**Is your feature request related to a problem? Please describe.**
Hi @DominikPieper, I recently reworked `vite-tsconfig-paths` to use Vite's built-in module resolution and I would love for you to try it. It was brought to my attention that Nxext is using a fork of `vite-tsconfig-paths` (called `nx-project-paths`) and I'm curious if there was anything I could do to accommodate your needs in v4 of

[2022-11-30 13:25] DominikPieper commented on #855
Hey @aleclarson ,
we went with the fork cause we had problems with the tsconfig resolutions that time (months ago)
Right now it should work withe the `vite-tsconfig-paths` package, that's the way the @nrwl/vite package goes. Our Vice package won't get much updates cause we will deprecate it once the official support is ready.

[2022-11-30 13:27] aleclarson commented on #855
Cool, thanks for the update!

[2022-11-30 13:27] #855 closed